In [ ]:
CREATE DATABASE QuanLyGiaoVu

In [2]:
USE QuanLyGiaoVu;

In [ ]:
SET DATEFORMAT dmy;

In [4]:
CREATE TABLE KHOA (
    MAKHOA  VARCHAR(4),
    TENKHOA VARCHAR(40),
    NGTLAP  SMALLDATETIME,
    TRGKHOA CHAR(4),
    PRIMARY KEY (MAKHOA)
) 

CREATE TABLE MONHOC (
    MAMH    VARCHAR(10),
    TENMH   VARCHAR(40),
    TCLT    TINYINT,
    TCTH    TINYINT,
    MAKHOA  VARCHAR(4),
    PRIMARY KEY (MAMH),
    FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA)
    
)

CREATE TABLE DIEUKIEN (
    MAMH        VARCHAR(10),
    MAMH_TRUOC  VARCHAR(10),
    PRIMARY KEY (MAMH, MAMH_TRUOC)
)

CREATE TABLE GIAOVIEN (
    MAGV        CHAR(4),
    HOTEN       VARCHAR(40),
    HOCVI       VARCHAR(10),
    HOCHAM      VARCHAR(10),
    GIOITINH    VARCHAR(3),
    NGSINH      SMALLDATETIME,
    NGVL        SMALLDATETIME,
    HESO        NUMERIC(4,2),
    MUCLUONG    MONEY,
    MAKHOA      VARCHAR(4),
    PRIMARY KEY (MAGV),
    FOREIGN KEY (MAKHOA) REFERENCES KHOA(MAKHOA),
)

CREATE TABLE LOP (
    MALOP   CHAR(3),
    TENLOP  VARCHAR(40),
    TRGLOP  CHAR(5),
    SISO    TINYINT,
    MAGVCN  CHAR(4),
    PRIMARY KEY (MALOP),
)

CREATE TABLE HOCVIEN (
    MAHV        CHAR(5),
    HO          VARCHAR(40),
    TEN         VARCHAR(10),
    NGSINH      SMALLDATETIME,
    GIOITINH    VARCHAR(3),
    NOISINH     VARCHAR(40),
    MALOP       CHAR(3),
    PRIMARY KEY (MAHV),
    FOREIGN KEY (MALOP) REFERENCES LOP(MALOP)
)

CREATE TABLE GIANGDAY (
    MALOP   CHAR(3),
    MAMH    VARCHAR(10),
    MAGV    CHAR(4),
    HOCKY   TINYINT,
    NAM     SMALLINT,
    TUNGAY  SMALLDATETIME,
    DENNGAY SMALLDATETIME,
    PRIMARY KEY (MALOP, MAMH),
    FOREIGN KEY (MALOP) REFERENCES LOP(MALOP),
    FOREIGN KEY (MAMH) REFERENCES MONHOC(MAMH),
    FOREIGN KEY (MAGV) REFERENCES GIAOVIEN(MAGV),
)

CREATE TABLE KETQUATHI (
    MAHV    CHAR(5),
    MAMH    VARCHAR(10),
    LANTHI  TINYINT,
    NGTHI   SMALLDATETIME,
    DIEM    NUMERIC(4, 2),
    KQUA    VARCHAR(10),
    PRIMARY KEY (MAHV, MAMH, LANTHI),
    FOREIGN KEY (MAMH) REFERENCES MONHOC(MAMH),
    FOREIGN KEY (MAHV) REFERENCES HOCVIEN(MAHV)
)

In [ ]:
INSERT INTO KHOA VALUES ('KHMT', 'Khoa hoc may tinh', '7/6/2005', 'GV01')
INSERT INTO KHOA VALUES ('HTTT', 'He thong thong tin', '7/6/2005', 'GV02')
INSERT INTO KHOA VALUES ('CNPM', 'Cong nghe phan mem', '7/6/2005', 'GV04')
INSERT INTO KHOA VALUES ('MTT', 'Mang va truyen thong', '20/10/2005', 'GV03')
INSERT INTO KHOA VALUES ('KTMT', 'Ky thuat may tinh', '20/12/2005', NULL)

In [ ]:
INSERT INTO GIAOVIEN VALUES ('GV01', 'Ho Thanh Son', 'PTS', 'GS', 'Nam', '2/5/1950', '11/1/2004', 5.00, 2250000, 'KHMT')
INSERT INTO GIAOVIEN VALUES ('GV02', 'Tran Tam Thanh', 'TS', 'PGS', 'Nam', '17/12/1965', '20/4/2004', 4.50, 2025000, 'HTTT')
INSERT INTO GIAOVIEN VALUES ('GV03', 'Do Nghiem Phung', 'TS', 'GS', 'Nu', '1/8/1950', '23/9/2004', 4.00, 1800000, 'CNPM')
INSERT INTO GIAOVIEN VALUES ('GV04', 'Tran Nam Son', 'TS', 'PGS', 'Nam', '22/2/1961', '12/1/2005', 4.50, 2025000, 'KTMT')
INSERT INTO GIAOVIEN VALUES ('GV05', 'Mai Thanh Danh', 'ThS', 'GV', 'Nam', '12/3/1958', '12/1/2005', 3.00, 1350000, 'HTTT')
INSERT INTO GIAOVIEN VALUES ('GV06', 'Tran Doan Hung', 'TS', 'GV', 'Nam', '11/3/1953', '12/1/2005', 4.50, 2025000, 'KHMT')
INSERT INTO GIAOVIEN VALUES ('GV07', 'Nguyen Minh Tien', 'ThS', 'GV', 'Nam', '23/11/1971', '1/3/2005', 4.00, 1800000, 'KHMT')
INSERT INTO GIAOVIEN VALUES ('GV08', 'Le Thi Tran', 'KS', 'Null', 'Nu', '26/3/1974', '1/3/2005', 1.69, 760500, 'KHMT')
INSERT INTO GIAOVIEN VALUES ('GV09', 'Nguyen To Lan', 'ThS', 'GV', 'Nu', '31/12/1966', '1/3/2005', 4.00, 1800000, 'HTTT')
INSERT INTO GIAOVIEN VALUES ('GV10', 'Le Tran Anh Loan', 'KS', 'Null', 'Nu', '17/7/1972', '1/3/2005', 1.86, 837000, 'CNPM')
INSERT INTO GIAOVIEN VALUES ('GV11', 'Ho Thanh Tung', 'CN', 'GV', 'Nam', '12/1/1980', '15/5/2005', 2.67, 1201500, 'MTT')
INSERT INTO GIAOVIEN VALUES ('GV12', 'Tran Van Anh', 'CN', 'Null', 'Nu', '29/3/1981', '15/5/2005', 1.69, 760500, 'CNPM')
INSERT INTO GIAOVIEN VALUES ('GV13', 'Nguyen Linh Dan', 'CN', 'Null', 'Nu', '23/5/1980', '15/5/2005', 1.69, 760500, 'KTMT')
INSERT INTO GIAOVIEN VALUES ('GV14', 'Truong Minh Chau', 'ThS', 'GV', 'Nu', '30/11/1976', '15/5/2005', 3.00, 1350000, 'MTT')
INSERT INTO GIAOVIEN VALUES ('GV15', 'Le Ha Thanh', 'ThS', 'GV', 'Nam', '4/5/1978', '15/5/2005', 3.00, 1350000, 'KHMT')

In [ ]:
INSERT INTO LOP VALUES ('K11', 'Lop 1 khoa 1', 'K1108', 11, 'GV07')
INSERT INTO LOP VALUES ('K12', 'Lop 2 khoa 1', 'K1205', 12, 'GV09')
INSERT INTO LOP VALUES ('K13', 'Lop 3 khoa 1', 'K1305', 12, 'GV14')

In [ ]:
INSERT INTO MONHOC VALUES ('THDC', 'Tin hoc dai cuong', 4, 1, 'KHMT')
INSERT INTO MONHOC VALUES ('CTRR', 'Cau truc roi rac', 5, 0, 'KHMT')
INSERT INTO MONHOC VALUES ('CSDL', 'Co so du lieu', 3, 1, 'HTTT')
INSERT INTO MONHOC VALUES ('CTDLGT', 'Cau truc du lieu va giai thuat', 3, 1, 'KHMT')
INSERT INTO MONHOC VALUES ('PTTKTT', 'Phan tich thiet ke thuat toan', 3, 0, 'KHMT')
INSERT INTO MONHOC VALUES ('DHMT', 'Do hoa may tinh', 3, 1, 'KHMT')
INSERT INTO MONHOC VALUES ('KTMT', 'Kien truc may tinh', 3, 0, 'KTMT')
INSERT INTO MONHOC VALUES ('TKCSDL', 'Thiet ke CO so du lieu', 3, 1, 'HTTT')
INSERT INTO MONHOC VALUES ('PTTKHTTT', 'Phan tich thiet ke he thong thong tin', 4, 1, 'HTTT')
INSERT INTO MONHOC VALUES ('HDH', 'He dieu hanh', 4, 0, 'KTMT')
INSERT INTO MONHOC VALUES ('NMCNPM', 'Nhap mon cong nghe phan mem', 3, 0, 'CNPM')
INSERT INTO MONHOC VALUES ('LTCFW', 'Lap trinh C for win', 3, 1, 'CNPM')
INSERT INTO MONHOC VALUES ('LTHDT', 'Lap trinh huong doi tuong', 3, 1, 'CNPM')

In [ ]:
INSERT INTO GIANGDAY VALUES ('K11', 'THDC', 'GV07', 1, 2006, '2/1/2006', '12/5/2006')
INSERT INTO GIANGDAY VALUES ('K12', 'THDC', 'GV06', 1, 2006, '2/1/2006', '12/5/2006')
INSERT INTO GIANGDAY VALUES ('K13', 'THDC', 'GV15', 1, 2006, '2/1/2006', '12/5/2006')
INSERT INTO GIANGDAY VALUES ('K11', 'CTRR', 'GV02', 1, 2006, '9/1/2006', '17/5/2006')
INSERT INTO GIANGDAY VALUES ('K12', 'CTRR', 'GV02', 1, 2006, '9/1/2006', '17/5/2006')
INSERT INTO GIANGDAY VALUES ('K13', 'CTRR', 'GV08', 1, 2006, '9/1/2006', '17/5/2006')
INSERT INTO GIANGDAY VALUES ('K11', 'CSDL', 'GV05', 2, 2006, '1/6/2006', '15/7/2006')
INSERT INTO GIANGDAY VALUES ('K12', 'CSDL', 'GV09', 2, 2006, '1/6/2006', '15/7/2006')
INSERT INTO GIANGDAY VALUES ('K13', 'CTDLGT', 'GV15', 2, 2006, '1/6/2006', '15/7/2006')
INSERT INTO GIANGDAY VALUES ('K13', 'CSDL', 'GV05', 3, 2006, '1/8/2006', '15/12/2006')
INSERT INTO GIANGDAY VALUES ('K13', 'DHMT', 'GV07', 3, 2006, '1/8/2006', '15/12/2006')
INSERT INTO GIANGDAY VALUES ('K11', 'CTDLGT', 'GV15', 3, 2006, '1/8/2006', '15/12/2006')
INSERT INTO GIANGDAY VALUES ('K12', 'CTDLGT', 'GV15', 3, 2006, '1/8/2006', '15/12/2006')
INSERT INTO GIANGDAY VALUES ('K11', 'HDH', 'GV04', 1, 2007, '2/1/2007', '18/2/2007')
INSERT INTO GIANGDAY VALUES ('K12', 'HDH', 'GV04', 1, 2007, '2/1/2007', '20/3/2007')
INSERT INTO GIANGDAY VALUES ('K11', 'DHMT', 'GV07', 1, 2007, '18/2/2007', '20/3/2007')

In [ ]:
INSERT INTO DIEUKIEN VALUES ('CSDL', 'CTRR')
INSERT INTO DIEUKIEN VALUES ('CSDL', 'CTDLGT')
INSERT INTO DIEUKIEN VALUES ('CTDLGT', 'THDC')
INSERT INTO DIEUKIEN VALUES ('PTTKTT', 'THDC')
INSERT INTO DIEUKIEN VALUES ('PTTKTT', 'CTDLGT')
INSERT INTO DIEUKIEN VALUES ('DHMT', 'THDC')
INSERT INTO DIEUKIEN VALUES ('LTHDT', 'THDC')
INSERT INTO DIEUKIEN VALUES ('PTTKHTTT', 'CSDL')

In [ ]:
INSERT INTO HOCVIEN VALUES ('K1101', 'Nguyen Van', 'A', '27/1/1986', 'Nam', 'TpHCM', 'K11')
INSERT INTO HOCVIEN VALUES ('K1102', 'Tran Ngoc', 'Han', '14/3/1986', 'Nu', 'Kien Giang', 'K11')
INSERT INTO HOCVIEN VALUES ('K1103', 'Ha Duy', 'Lap', '18/4/1986', 'Nam', 'Nghe An', 'K11')
INSERT INTO HOCVIEN VALUES ('K1104', 'Tran Ngoc', 'Linh', '30/3/1986', 'Nu', 'Tay Ninh', 'K11')
INSERT INTO HOCVIEN VALUES ('K1105', 'Tran Minh', 'Long', '27/2/1986', 'Nam', 'TpHCM', 'K11')
INSERT INTO HOCVIEN VALUES ('K1106', 'Le Nhat', 'Minh', '24/1/1986', 'Nam', 'TpHCM', 'K11')
INSERT INTO HOCVIEN VALUES ('K1107', 'Nguyen Nhu', 'Nhut', '27/1/1986', 'Nam', 'Ha Noi', 'K11')
INSERT INTO HOCVIEN VALUES ('K1108', 'Nguyen Manh', 'Tam', '27/2/1986', 'Nam', 'Kien Giang', 'K11')
INSERT INTO HOCVIEN VALUES ('K1109', 'Phan Thi Thanh', 'Tam', '27/1/1986', 'Nu', 'Vinh Long', 'K11')
INSERT INTO HOCVIEN VALUES ('K1110', 'Le Hoai', 'Thuong', '5/2/1986', 'Nu', 'Can Tho', 'K11')
INSERT INTO HOCVIEN VALUES ('K1111', 'Le Ha', 'Vinh', '25/12/1986', 'Nam', 'Vinh Long', 'K11')
INSERT INTO HOCVIEN VALUES ('K1201', 'Nguyen Van', 'B', '11/2/1986', 'Nam', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1202', 'Nguyen Thi Kim', 'Duyen', '18/1/1986', 'Nu', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1203', 'Tran Thi Kim', 'Duyen', '17/9/1986', 'Nu', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1204', 'Truong My', 'Hanh', '19/5/1986', 'Nu', 'Dong Nai', 'K12')
INSERT INTO HOCVIEN VALUES ('K1205', 'Nguyen Thanh', 'Nam', '17/4/1986', 'Nam', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1206', 'Nguyen Thi Truc', 'Thanh', '4/3/1986', 'Nu', 'Kien Giang', 'K12')
INSERT INTO HOCVIEN VALUES ('K1207', 'Tran Thi Bich', 'Thuy', '8/2/1986', 'Nu', 'Nghe An', 'K12')
INSERT INTO HOCVIEN VALUES ('K1208', 'Huynh Thi Kim', 'Trieu', '8/4/1986', 'Nu', 'Tay Ninh', 'K12')
INSERT INTO HOCVIEN VALUES ('K1209', 'Pham Thanh', 'Trieu', '23/2/1986', 'Nam', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1210', 'Ngo Thanh', 'Tuan', '14/2/1986', 'Nam', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1211', 'Do Thi', 'Xuan', '9/3/1986', 'Nu', 'Ha Noi', 'K12')
INSERT INTO HOCVIEN VALUES ('K1212', 'Le Thi Phi', 'Yen', '12/3/1986', 'Nu', 'TpHCM', 'K12')
INSERT INTO HOCVIEN VALUES ('K1301', 'Nguyen Thi Kim', 'Cuc', '9/6/1986', 'Nu', 'Kien Giang', 'K13')
INSERT INTO HOCVIEN VALUES ('K1302', 'Truong Thi My', 'Hien', '18/3/1986', 'Nu', 'Nghe An', 'K13')
INSERT INTO HOCVIEN VALUES ('K1303', 'Le Duc', 'Hien', '21/3/1986', 'Nam', 'Tay Ninh', 'K13')
INSERT INTO HOCVIEN VALUES ('K1304', 'Le Quang', 'Hien', '18/4/1986', 'Nam', 'TpHCM', 'K13')
INSERT INTO HOCVIEN VALUES ('K1305', 'Le Thi', 'Huong', '27/3/1986', 'Nu', 'TpHCM', 'K13')
INSERT INTO HOCVIEN VALUES ('K1306', 'Nguyen Thai', 'Huu', '30/3/1986', 'Nam', 'Ha Noi', 'K13')
INSERT INTO HOCVIEN VALUES ('K1307', 'Tran Minh', 'Man', '28/5/1986', 'Nam', 'TpHCM', 'K13')
INSERT INTO HOCVIEN VALUES ('K1308', 'Nguyen Hieu', 'Nghia', '8/4/1986', 'Nam', 'Kien Giang', 'K13')
INSERT INTO HOCVIEN VALUES ('K1309', 'Nguyen Trung', 'Nghia', '18/1/1987', 'Nam', 'Nghe An', 'K13')
INSERT INTO HOCVIEN VALUES ('K1310', 'Tran Thi Hong', 'Tham', '22/4/1986', 'Nu', 'Tay Ninh', 'K13')
INSERT INTO HOCVIEN VALUES ('K1311', 'Tran Minh', 'Thuc', '4/4/1986', 'Nam', 'TpHCM', 'K13')
INSERT INTO HOCVIEN VALUES ('K1312', 'Nguyen Thi Kim', 'Yen', '7/9/1986', 'Nu', 'TpHCM', 'K13')

In [ ]:
INSERT INTO KETQUATHI VALUES ('K1101', 'CSDL', 1, '20/7/2006', 10.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1101', 'CTDLGT', 1, '28/12/2006', 9.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1101', 'THDC', 1, '20/5/2006', 9.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1101', 'CTRR', 1, '13/5/2006', 9.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CSDL', 1, '20/7/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CSDL', 2, '27/7/2006', 4.25, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CSDL', 3, '10/8/2006', 4.50, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CTDLGT', 1, '28/12/2006', 4.50, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CTDLGT', 2, '5/1/2007', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CTDLGT', 3, '15/1/2007', 6.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'THDC', 1, '20/5/2006', 5.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1102', 'CTRR', 1, '13/5/2006', 7.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1103', 'CSDL', 1, '20/7/2006', 3.50, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1103', 'CSDL', 2, '27/7/2006', 8.25, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1103', 'CTDLGT', 1, '28/12/2006', 7.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1103', 'THDC', 1, '20/5/2006', 8.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1103', 'CTRR', 1, '13/5/2006', 6.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1104', 'CSDL', 1, '20/7/2006', 3.75, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1104', 'CTDLGT', 1, '28/12/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1104', 'THDC', 1, '20/5/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1104', 'CTRR', 1, '13/5/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1104', 'CTRR', 2, '20/5/2006', 3.50, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1104', 'CTRR', 3, '30/6/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1201', 'CSDL', 1, '20/7/2006', 6.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1201', 'CTDLGT', 1, '28/12/2006', 5.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1201', 'THDC', 1, '20/5/2006', 8.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1201', 'CTRR', 1, '13/5/2006', 9.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'CSDL', 1, '20/7/2006', 8.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'CTDLGT', 1, '28/12/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'CTDLGT', 2, '5/1/2007', 5.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'THDC', 1, '20/5/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'THDC', 2, '27/5/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'CTRR', 1, '13/5/2006', 3.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'CTRR', 2, '20/5/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1202', 'CTRR', 3, '30/6/2006', 6.25, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1203', 'CSDL', 1, '20/7/2006', 9.25, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1203', 'CTDLGT', 1, '28/12/2006', 9.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1203', 'THDC', 1, '20/5/2006', 10.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1203', 'CTRR', 1, '13/5/2006', 10.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1204', 'CSDL', 1, '20/7/2006', 8.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1204', 'CTDLGT', 1, '28/12/2006', 6.75, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1204', 'THDC', 1, '20/5/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1204', 'CTRR', 1, '13/5/2006', 6.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1301', 'CSDL', 1, '20/12/2006', 4.25, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1301', 'CTDLGT', 1, '25/7/2006', 8.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1301', 'THDC', 1, '20/5/2006', 7.75, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1301', 'CTRR', 1, '13/5/2006', 8.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1302', 'CSDL', 1, '20/12/2006', 6.75, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1302', 'CTDLGT', 1, '25/7/2006', 5.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1302', 'THDC', 1, '20/5/2006', 8.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1302', 'CTRR', 1, '13/5/2006', 8.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'CSDL', 1, '20/12/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'CTDLGT', 1, '25/7/2006', 4.50, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'CTDLGT', 2, '7/8/2006', 4.00, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'CTDLGT', 3, '15/8/2006', 4.25, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'THDC', 1, '20/5/2006', 4.50, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'CTRR', 1, '13/5/2006', 3.25, 'Khong Dat')
INSERT INTO KETQUATHI VALUES ('K1303', 'CTRR', 2, '20/5/2006', 5.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1304', 'CSDL', 1, '20/12/2006', 7.75, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1304', 'CTDLGT', 1, '25/7/2006', 9.75, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1304', 'THDC', 1, '20/5/2006', 5.50, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1304', 'CTRR', 1, '13/5/2006', 5.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1305', 'CSDL', 1, '20/12/2006', 9.25, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1305', 'CTDLGT', 1, '25/7/2006', 10.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1305', 'THDC', 1, '20/5/2006', 8.00, 'Dat')
INSERT INTO KETQUATHI VALUES ('K1305', 'CTRR', 1, '13/5/2006', 10.00, 'Dat')

In [ ]:
-- I. 1: Tạo quan hệ và khai báo tất cả các ràng buộc khóa chính, khóa ngoại. Thêm vào 3 thuộc tính GHICHU, DIEMTB, XEPLOAI cho quan hệ HOCVIEN.

ALTER TABLE HOCVIEN ADD 
    GHICHU VARCHAR(1000),
    DIEMTB NUMERIC(4,2),
    XEPLOAI VARCHAR(20)

In [ ]:
-- I. 3: Thuộc tính GIOITINH chỉ có giá trị là “Nam” hoặc “Nu”.

ALTER TABLE HOCVIEN ADD CONSTRAINT GIOITINH CHECK (GIOITINH IN ('Nam', 'Nu'))

In [2]:
-- I. 4: Điểm số của một lần thi có giá trị từ 0 đến 10 và cần lưu đến 2 số lẽ (VD: 6.22).

ALTER TABLE KETQUATHI ADD CONSTRAINT DIEM CHECK (DIEM >= 0 AND DIEM <= 10)
ALTER TABLE KETQUATHI ALTER COLUMN DIEM NUMERIC (2, 2)

: Msg 2714, Level 16, State 5, Line 3
There is already an object named 'DIEM' in the database.

: Msg 1750, Level 16, State 1, Line 3
Could not create constraint or index. See previous errors.

In [12]:
-- II. 1: Tăng hệ số lương thêm 0.2 cho những giáo viên là trưởng khoa.

UPDATE GIAOVIEN SET HESO = HESO + 0.2 WHERE (MAGV IN (SELECT TRGKHOA FROM KHOA))

In [51]:
-- II. 2: Cập nhật giá trị điểm trung bình tất cả các môn học (DIEMTB) của mỗi học viên (tất cả các môn
-- học đều có hệ số 1 và nếu học viên thi một môn nhiều lần, chỉ lấy điểm của lần thi sau cùng).

SELECT MAHV, MAMH, MAX(LANTHI) AS LANTHI INTO TEMP FROM KETQUATHI GROUP BY MAHV, MAMH

SELECT KETQUATHI.MAHV, AVG(DIEM) AS DIEM INTO DIEM_TABLE FROM KETQUATHI
JOIN TEMP ON KETQUATHI.MAHV = TEMP.MAHV AND KETQUATHI.MAMH = TEMP.MAMH AND KETQUATHI.LANTHI = TEMP.LANTHI 
GROUP BY KETQUATHI.MAHV 
 
UPDATE HOCVIEN SET DIEMTB = (SELECT DIEM FROM DIEM_TABLE WHERE HOCVIEN.MAHV = DIEM_TABLE.MAHV) 
SELECT * FROM HOCVIEN

DROP TABLE TEMP
DROP TABLE DIEM_TABLE

MAHV,HO,TEN,NGSINH,GIOITINH,NOISINH,MALOP,GHICHU,DIEMTB,XEPLOAI
K1101,Nguyen Van,A,1986-01-27 00:00:00,Nam,TpHCM,K11,NULL,9.38,NULL
K1102,Tran Ngoc,Han,1986-03-14 00:00:00,Nu,Kien Giang,K11,Cam thi,5.63,NULL
K1103,Ha Duy,Lap,1986-04-18 00:00:00,Nam,Nghe An,K11,NULL,7.44,NULL
K1104,Tran Ngoc,Linh,1986-03-30 00:00:00,Nu,Tay Ninh,K11,Cam thi,3.94,NULL
K1105,Tran Minh,Long,1986-02-27 00:00:00,Nam,TpHCM,K11,NULL,NULL,NULL
K1106,Le Nhat,Minh,1986-01-24 00:00:00,Nam,TpHCM,K11,NULL,NULL,NULL
K1107,Nguyen Nhu,Nhut,1986-01-27 00:00:00,Nam,Ha Noi,K11,NULL,NULL,NULL
K1108,Nguyen Manh,Tam,1986-02-27 00:00:00,Nam,Kien Giang,K11,NULL,NULL,NULL
K1109,Phan Thi Thanh,Tam,1986-01-27 00:00:00,Nu,Vinh Long,K11,NULL,NULL,NULL
K1110,Le Hoai,Thuong,1986-02-05 00:00:00,Nu,Can Tho,K11,NULL,NULL,NULL
K1111,Le Ha,Vinh,1986-12-25 00:00:00,Nam,Vinh Long,K11,NULL,NULL,NULL
K1201,Nguyen Van,B,1986-02-11 00:00:00,Nam,TpHCM,K12,NULL,7.13,NULL
K1202,Nguyen Thi Kim,Duyen,1986-01-18 00:00:00,Nu,TpHCM,K12,NULL,5.81,NULL
K1203,Tran Thi Kim,Duyen,1986-09-17 00:00:00,Nu,TpHCM,K12,NULL,9.69,NULL
K1204,Truong My,Hanh,1986-05-19 00:00:00,Nu,Dong Nai,K12,NULL,6.31,NULL
K1205,Nguyen Thanh,Nam,1986-04-17 00:00:00,Nam,TpHCM,K12,NULL,NULL,NULL
K1206,Nguyen Thi Truc,Thanh,1986-03-04 00:00:00,Nu,Kien Giang,K12,NULL,NULL,NULL
K1207,Tran Thi Bich,Thuy,1986-02-08 00:00:00,Nu,Nghe An,K12,NULL,NULL,NULL
K1208,Huynh Thi Kim,Trieu,1986-04-08 00:00:00,Nu,Tay Ninh,K12,NULL,NULL,NULL
K1209,Pham Thanh,Trieu,1986-02-23 00:00:00,Nam,TpHCM,K12,NULL,NULL,NULL
K1210,Ngo Thanh,Tuan,1986-02-14 00:00:00,Nam,TpHCM,K12,NULL,NULL,NULL
K1211,Do Thi,Xuan,1986-03-09 00:00:00,Nu,Ha Noi,K12,NULL,NULL,NULL
K1212,Le Thi Phi,Yen,1986-03-12 00:00:00,Nu,TpHCM,K12,NULL,NULL,NULL
K1301,Nguyen Thi Kim,Cuc,1986-06-09 00:00:00,Nu,Kien Giang,K13,NULL,7.00,NULL
K1302,Truong Thi My,Hien,1986-03-18 00:00:00,Nu,Nghe An,K13,NULL,7.06,NULL
K1303,Le Duc,Hien,1986-03-21 00:00:00,Nam,Tay Ninh,K13,Cam thi,4.44,NULL
K1304,Le Quang,Hien,1986-04-18 00:00:00,Nam,TpHCM,K13,NULL,7.00,NULL
K1305,Le Thi,Huong,1986-03-27 00:00:00,Nu,TpHCM,K13,NULL,9.31,NULL
K1306,Nguyen Thai,Huu,1986-03-30 00:00:00,Nam,Ha Noi,K13,NULL,NULL,NULL
K1307,Tran Minh,Man,1986-05-28 00:00:00,Nam,TpHCM,K13,NULL,NULL,NULL
K1308,Nguyen Hieu,Nghia,1986-04-08 00:00:00,Nam,Kien Giang,K13,NULL,NULL,NULL
K1309,Nguyen Trung,Nghia,1987-01-18 00:00:00,Nam,Nghe An,K13,NULL,NULL,NULL
K1310,Tran Thi Hong,Tham,1986-04-22 00:00:00,Nu,Tay Ninh,K13,NULL,NULL,NULL
K1311,Tran Minh,Thuc,1986-04-04 00:00:00,Nam,TpHCM,K13,NULL,NULL,NULL
K1312,Nguyen Thi Kim,Yen,1986-09-07 00:00:00,Nu,TpHCM,K13,NULL,NULL,NULL

: Msg 3701, Level 11, State 5, Line 7
Cannot drop the table 'DIEM_TABLE', because it does not exist or you do not have permission.

In [3]:
-- II. 3: Cập nhật giá trị cho cột GHICHU là “Cam thi” đối với trường hợp: học viên có một môn bất kỳ thi
-- lần thứ 3 dưới 5 điểm.

UPDATE HOCVIEN SET GHICHU='Cam thi' 
WHERE (MAHV IN (SELECT MAHV FROM KETQUATHI WHERE LANTHI = 3 AND DIEM < 5))

In [4]:
-- III. 1: In ra danh sách (mã học viên, họ tên, ngày sinh, mã lớp) lớp trưởng của các lớp.

SELECT MAHV, HO, TEN, NGSINH, MALOP FROM HOCVIEN 
WHERE MAHV IN (SELECT TRGLOP FROM LOP)

MAHV,HO,TEN,NGSINH,MALOP
K1108,Nguyen Manh,Tam,1986-02-27 00:00:00,K11
K1205,Nguyen Thanh,Nam,1986-04-17 00:00:00,K12
K1305,Le Thi,Huong,1986-03-27 00:00:00,K13

In [9]:
-- III. 2: In ra bảng điểm khi thi (mã học viên, họ tên , lần thi, điểm số) môn CTRR của lớp “K12”, sắp xếp
-- theo tên, họ học viên.  

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN, KETQUATHI.LANTHI, KETQUATHI.DIEM 
FROM HOCVIEN JOIN KETQUATHI ON HOCVIEN.MAHV = KETQUATHI.MAHV
WHERE HOCVIEN.MALOP = 'K12' AND KETQUATHI.MAMH = 'CTRR'
ORDER BY HOCVIEN.TEN, HOCVIEN.HO

MAHV,HO,TEN,LANTHI,DIEM
K1201,Nguyen Van,B,1,9.00
K1202,Nguyen Thi Kim,Duyen,1,3.00
K1202,Nguyen Thi Kim,Duyen,2,4.00
K1202,Nguyen Thi Kim,Duyen,3,6.25
K1203,Tran Thi Kim,Duyen,1,10.00
K1204,Truong My,Hanh,1,6.00

In [7]:
-- III. 3: In ra danh sách những học viên (mã học viên, họ tên) và những môn học mà học viên đó thi lần thứ
-- nhất đã đạt.

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN, KETQUATHI.MAMH
FROM HOCVIEN JOIN KETQUATHI ON HOCVIEN.MAHV = KETQUATHI.MAHV
WHERE KETQUATHI.LANTHI = 1 AND KETQUATHI.KQUA = 'Dat'

MAHV,HO,TEN,MAMH
K1101,Nguyen Van,A,CSDL
K1101,Nguyen Van,A,CTDLGT
K1101,Nguyen Van,A,CTRR
K1101,Nguyen Van,A,THDC
K1102,Tran Ngoc,Han,CTRR
K1102,Tran Ngoc,Han,THDC
K1103,Ha Duy,Lap,CTDLGT
K1103,Ha Duy,Lap,CTRR
K1103,Ha Duy,Lap,THDC
K1201,Nguyen Van,B,CSDL
K1201,Nguyen Van,B,CTDLGT
K1201,Nguyen Van,B,CTRR
K1201,Nguyen Van,B,THDC
K1202,Nguyen Thi Kim,Duyen,CSDL
K1203,Tran Thi Kim,Duyen,CSDL
K1203,Tran Thi Kim,Duyen,CTDLGT
K1203,Tran Thi Kim,Duyen,CTRR
K1203,Tran Thi Kim,Duyen,THDC
K1204,Truong My,Hanh,CSDL
K1204,Truong My,Hanh,CTDLGT
K1204,Truong My,Hanh,CTRR
K1301,Nguyen Thi Kim,Cuc,CTDLGT
K1301,Nguyen Thi Kim,Cuc,CTRR
K1301,Nguyen Thi Kim,Cuc,THDC
K1302,Truong Thi My,Hien,CSDL
K1302,Truong Thi My,Hien,CTDLGT
K1302,Truong Thi My,Hien,CTRR
K1302,Truong Thi My,Hien,THDC
K1304,Le Quang,Hien,CSDL
K1304,Le Quang,Hien,CTDLGT
K1304,Le Quang,Hien,CTRR
K1304,Le Quang,Hien,THDC
K1305,Le Thi,Huong,CSDL
K1305,Le Thi,Huong,CTDLGT
K1305,Le Thi,Huong,CTRR
K1305,Le Thi,Huong,THDC

In [6]:
-- III. 4: In ra danh sách học viên (mã học viên, họ tên) của lớp “K11” thi môn CTRR không đạt (ở lần thi 1).

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN 
FROM HOCVIEN JOIN KETQUATHI ON HOCVIEN.MAHV = KETQUATHI.MAHV
WHERE HOCVIEN.MALOP = 'K11' AND KETQUATHI.MAMH = 'CTRR' AND KETQUATHI.KQUA = 'Khong Dat' and KETQUATHI.LANTHI = 1

MAHV,HO,TEN
K1104,Tran Ngoc,Linh

In [2]:
-- I. 5: Kết quả thi là “Dat” nếu điểm từ 5 đến 10 và “Khong dat” nếu điểm nhỏ hơn 5.

UPDATE KETQUATHI SET KQUA = 'Dat'
WHERE DIEM BETWEEN 5 AND 10

UPDATE KETQUATHI SET KQUA = 'Khong dat'
WHERE DIEM < 5

In [4]:
-- I. 6: Học viên thi một môn tối đa 3 lần.

ALTER TABLE KETQUATHI
ADD CONSTRAINT CHK_LANTHI CHECK (LANTHI < 4)

In [ ]:
-- I. 7: Học kỳ chỉ có giá trị từ 1 đến 3.

ALTER TABLE GIANGDAY
ADD CONSTRAINT CHK_HOCKY CHECK (HOCKY BETWEEN 1 AND 3)

In [5]:
-- I. 8: Học vị của giáo viên chỉ có thể là “CN”, “KS”, “Ths”, ”TS”, ”PTS”.

ALTER TABLE GIAOVIEN
ADD CONSTRAINT CHK_HOCVI CHECK (HOCVI IN ('CN', 'KS', 'ThS', 'TS', 'PTS'))

In [56]:
-- III. 5: * Danh sách học viên (mã học viên, họ tên) của lớp “K” thi môn CTRR không đạt (ở tất cả các lần thi).

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM LOP 
JOIN HOCVIEN ON LOP.MALOP = HOCVIEN.MALOP 
JOIN KETQUATHI ON HOCVIEN.MAHV = KETQUATHI.MAHV 
WHERE LOP.TENLOP = 'K' AND KETQUATHI.MAMH = 'CTRR' AND KETQUATHI.KQUA = 'Khong dat'
GROUP BY HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN
HAVING COUNT(DISTINCT KETQUATHI.LANTHI) = (
    SELECT COUNT(DISTINCT LANTHI) FROM KETQUATHI AS KQ
    WHERE HOCVIEN.MAHV = KQ.MAHV AND KQ.MAMH = 'CTRR'
)

In [7]:
-- III. 6: Tìm tên những môn học mà giáo viên có tên “Tran Tam Thanh” dạy trong học kỳ 1 năm 2006.

SELECT DISTINCT MAMH FROM GIANGDAY
INNER JOIN GIAOVIEN ON GIAOVIEN.MAGV = GIANGDAY.MAGV
WHERE HOTEN = 'Tran Tam Thanh' AND HOCKY = 1 AND NAM = 2006

MAMH
CTRR

In [16]:
-- III. 7: Tìm những môn học (mã môn học, tên môn học) mà giáo viên chủ nhiệm lớp “K11” dạy trong học kỳ 1 năm 2006.

SELECT MONHOC.MAMH, MONHOC.TENMH FROM GIANGDAY  
INNER JOIN GIAOVIEN ON GIANGDAY.MAGV = GIAOVIEN.MAGV
INNER JOIN MONHOC ON GIANGDAY.MAMH = MONHOC.MAMH
INNER JOIN LOP ON LOP.MALOP = GIANGDAY.MALOP
WHERE LOP.MALOP = 'K11' AND LOP.MAGVCN = GIAOVIEN.MAGV AND GIANGDAY.HOCKY = 1 AND GIANGDAY.NAM = 2006

MAMH,TENMH
THDC,Tin hoc dai cuong

In [21]:
-- III. 8:  Tìm họ tên lớp trưởng của các lớp mà giáo viên có tên “Nguyen To Lan” dạy môn “Co So Du Lieu”.

SELECT HOCVIEN.HO, HOCVIEN.TEN FROM GIANGDAY  
INNER JOIN GIAOVIEN ON GIANGDAY.MAGV = GIAOVIEN.MAGV
INNER JOIN MONHOC ON GIANGDAY.MAMH = MONHOC.MAMH
INNER JOIN LOP ON LOP.MALOP = GIANGDAY.MALOP
INNER JOIN HOCVIEN ON HOCVIEN.MAHV = LOP.TRGLOP
WHERE GIAOVIEN.HOTEN = 'Nguyen To Lan' AND MONHOC.TENMH = 'Co So Du Lieu'

HO,TEN
Nguyen Thanh,Nam

In [26]:
-- III. 9: In ra danh sách những môn học (mã môn học, tên môn học) phải học liền trước môn “Co So Du Lieu”.

SELECT MAMH, TENMH FROM MONHOC 
WHERE MAMH IN (
    SELECT DISTINCT MAMH_TRUOC FROM MONHOC 
    INNER JOIN DIEUKIEN ON DIEUKIEN.MAMH = MONHOC.MAMH 
    WHERE MONHOC.TENMH = 'Co So Du Lieu'
)

MAMH,TENMH
CTDLGT,Cau truc du lieu va giai thuat
CTRR,Cau truc roi rac

In [35]:
-- III. 10: Môn “Cau Truc Roi Rac” là môn bắt buộc phải học liền trước những môn học (mã môn học, tên môn học) nào.

SELECT DIEUKIEN.MAMH, MONHOC.TENMH FROM DIEUKIEN 
INNER JOIN MONHOC ON MONHOC.MAMH = DIEUKIEN.MAMH
WHERE MAMH_TRUOC = (
    SELECT MAMH FROM MONHOC 
    WHERE TENMH = 'Cau Truc Roi Rac'
)

MAMH,TENMH
CSDL,Co so du lieu

In [29]:
--  III. 11: Tìm họ tên giáo viên dạy môn CTRR cho cả hai lớp “K11” và “K12” trong cùng học kỳ 1 năm 2006.

SELECT HOTEN FROM GIAOVIEN
WHERE MAGV IN (
    SELECT MAGV FROM GIANGDAY WHERE MALOP = 'K11'
    INTERSECT
    SELECT MAGV FROM GIANGDAY WHERE MALOP = 'K12'
)

HOTEN
Tran Tam Thanh
Tran Nam Son
Le Ha Thanh

In [43]:
--  III. 12: Tìm những học viên (mã học viên, họ tên) thi không đạt môn CSDL ở lần thi thứ 1 nhưng chưa thi lại môn này.

SELECT KETQUATHI.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM KETQUATHI 
INNER JOIN HOCVIEN ON HOCVIEN.MAHV = KETQUATHI.MAHV
WHERE LANTHI = 1 AND KQUA = 'Khong dat'

MAHV,HO,TEN
K1102,Tran Ngoc,Han
K1102,Tran Ngoc,Han
K1103,Ha Duy,Lap
K1104,Tran Ngoc,Linh
K1104,Tran Ngoc,Linh
K1104,Tran Ngoc,Linh
K1104,Tran Ngoc,Linh
K1202,Nguyen Thi Kim,Duyen
K1202,Nguyen Thi Kim,Duyen
K1202,Nguyen Thi Kim,Duyen
K1204,Truong My,Hanh
K1301,Nguyen Thi Kim,Cuc
K1303,Le Duc,Hien
K1303,Le Duc,Hien
K1303,Le Duc,Hien
K1303,Le Duc,Hien

In [46]:
-- III. 13: Tìm giáo viên (mã giáo viên, họ tên) không được phân công giảng dạy bất kỳ môn học nào.

SELECT MAGV, HOTEN FROM GIAOVIEN 
WHERE MAGV IN (
    SELECT MAGV FROM GIAOVIEN
    EXCEPT
    SELECT MAGV FROM GIANGDAY
)

MAGV,HOTEN
GV01,Ho Thanh Son
GV03,Do Nghiem Phung
GV10,Le Tran Anh Loan
GV11,Ho Thanh Tung
GV12,Tran Van Anh
GV13,Nguyen Linh Dan
GV14,Truong Minh Chau

In [55]:
-- III. 14: Tìm giáo viên (mã giáo viên, họ tên) không được phân công giảng dạy bất kỳ môn học nào thuộc khoa giáo viên đó phụ trách.

SELECT MAGV, HOTEN FROM GIAOVIEN
WHERE NOT EXISTS (
        SELECT * FROM GIANGDAY
        WHERE GIANGDAY.MAGV = GIAOVIEN.MAGV AND GIANGDAY.MAMH IN (
            SELECT MAMH FROM MONHOC 
            WHERE MONHOC.MAKHOA = GIAOVIEN.MAKHOA
        )
)

MAGV,HOTEN
GV01,Ho Thanh Son
GV02,Tran Tam Thanh
GV03,Do Nghiem Phung
GV10,Le Tran Anh Loan
GV11,Ho Thanh Tung
GV12,Tran Van Anh
GV13,Nguyen Linh Dan
GV14,Truong Minh Chau

In [64]:
-- III. 15: Tìm họ tên các học viên thuộc lớp “K11” thi một môn bất kỳ quá 3 lần vẫn “Khong dat” hoặc thi lần thứ 2 môn CTRR được 5 điểm.

SELECT DISTINCT KETQUATHI.MAHV FROM KETQUATHI 
WHERE LANTHI = 3 AND KQUA = 'Khong dat'
UNION
SELECT DISTINCT KETQUATHI.MAHV FROM KETQUATHI 
INNER JOIN HOCVIEN ON KETQUATHI.MAHV = HOCVIEN.MAHV
WHERE MALOP = 'K11' AND LANTHI = 2 AND DIEM = 5 AND MAMH = 'CTRR'

MAHV
K1102
K1104
K1303

In [70]:
-- III. 16: Tìm họ tên giáo viên dạy môn CTRR cho ít nhất hai lớp trong cùng một học kỳ của một năm học.

SELECT MAGV, COUNT(MALOP) FROM GIANGDAY
WHERE MAMH = 'CTRR'
GROUP BY MAGV, HOCKY, NAM
HAVING COUNT(MALOP) >= 2

MAGV,(No column name)
GV02,2

In [77]:
-- III. 17: Danh sách học viên và điểm thi môn CSDL (chỉ lấy điểm của lần thi sau cùng).

SELECT MAHV FROM KETQUATHI AS KQ
WHERE MAMH = 'CSDL' AND LANTHI = (
    SELECT MAX(LANTHI) FROM KETQUATHI
    WHERE MAMH = 'CSDL'
    GROUP BY MAHV
    HAVING MAHV = KQ.MAHV
)

MAHV
K1305
K1304
K1303
K1302
K1301
K1204
K1203
K1202
K1201
K1104
K1103
K1102
K1101

In [85]:
-- III. 18: Danh sách học viên và điểm thi môn “Co So Du Lieu” (chỉ lấy điểm cao nhất của các lần thi).

SELECT KETQUATHI.MAHV, MAX(DIEM) AS DIEM FROM KETQUATHI
INNER JOIN MONHOC ON KETQUATHI.MAMH = MONHOC.MAMH
WHERE TENMH = 'Co so du lieu'
GROUP BY MAHV

MAHV,DIEM
K1101,10.00
K1102,4.50
K1103,8.25
K1104,3.75
K1201,6.00
K1202,8.00
K1203,9.25
K1204,8.50
K1301,4.25
K1302,6.75
K1303,4.00
K1304,7.75
K1305,9.25

In [89]:
-- III. 19: Khoa nào (mã khoa, tên khoa) được thành lập sớm nhất.

SELECT MAKHOA, TENKHOA FROM KHOA 
WHERE NGTLAP <= ALL (
    SELECT NGTLAP FROM KHOA
)

MAKHOA,TENKHOA
CNPM,Cong nghe phan mem
HTTT,He thong thong tin
KHMT,Khoa hoc may tinh

In [92]:
-- III. 20: Có bao nhiêu giáo viên có học hàm là “GS” hoặc “PGS”.

SELECT HOCHAM, COUNT(MAGV) AS SOGV FROM GIAOVIEN
GROUP BY HOCHAM
HAVING HOCHAM IN ('GS', 'PGS')

HOCHAM,SOGV
GS,2
PGS,2

In [5]:
-- III. 21: Thống kê có bao nhiêu giáo viên có học vị là “CN”, “KS”, “Ths”, “TS”, “PTS” trong mỗi khoa.

SELECT MAKHOA, HOCVI, COUNT(MAGV) FROM GIAOVIEN
GROUP BY MAKHOA, HOCVI
ORDER BY MAKHOA

MAKHOA,HOCVI,(No column name)
CNPM,CN,1
CNPM,KS,1
CNPM,TS,1
HTTT,ThS,2
HTTT,TS,1
KHMT,KS,1
KHMT,PTS,1
KHMT,ThS,2
KHMT,TS,1
KTMT,CN,1
KTMT,TS,1
MTT,CN,1
MTT,ThS,1

In [14]:
-- III. 22: Mỗi môn học thống kê số lượng học viên theo kết quả (đạt và không đạt).

-- Note: Lấy kết quả của lần thi cuối cùng

SELECT MAMH, KQUA, COUNT(MAHV) FROM KETQUATHI AS KQ
WHERE LANTHI IN (
    SELECT MAX(LANTHI) FROM KETQUATHI
    GROUP BY MAHV, MAMH
    HAVING MAHV = KQ.MAHV AND MAMH = KQ.MAMH
)
GROUP BY MAMH, KQUA

MAMH,KQUA,(No column name)
CSDL,Dat,9
CTDLGT,Dat,11
CTRR,Dat,12
THDC,Dat,9
CSDL,Khong dat,4
CTDLGT,Khong dat,2
CTRR,Khong dat,1
THDC,Khong dat,4

In [20]:
-- III. 23: Tìm giáo viên (mã giáo viên, họ tên) là giáo viên chủ nhiệm của một lớp, đồng thời dạy cho lớp đó ít nhất một môn học.

SELECT MAGV, HOTEN FROM LOP
INNER JOIN GIAOVIEN ON LOP.MAGVCN = GIAOVIEN.MAGV
WHERE EXISTS (
    SELECT * FROM GIANGDAY 
    WHERE MAGV = LOP.MAGVCN AND MALOP = LOP.MALOP
)

MAGV,HOTEN
GV07,Nguyen Minh Tien
GV09,Nguyen To Lan

In [5]:
-- III. 24: Tìm họ tên lớp trưởng của lớp có sỉ số cao nhất.

SELECT TRGLOP FROM LOP 
WHERE SISO >= ALL (
    SELECT SISO FROM LOP
)

TRGLOP
K1205
K1305

In [14]:
-- III. 26: Tìm học viên (mã học viên, họ tên) có số môn đạt điểm 9,10 nhiều nhất.

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM HOCVIEN
INNER JOIN KETQUATHI ON KETQUATHI.MAHV = HOCVIEN.MAHV
WHERE KETQUATHI.DIEM >= 9
GROUP BY HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN
HAVING COUNT(KETQUATHI.DIEM) >= ALL (
    SELECT COUNT(DIEM) FROM KETQUATHI
    WHERE DIEM = 9 OR DIEM = 10
    GROUP BY MAHV
)

MAHV,HO,TEN
K1101,Nguyen Van,A

In [31]:
-- III. 27:  Trong từng lớp, tìm học viên (mã học viên, họ tên) có số môn đạt điểm 9,10 nhiều nhất.

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM HOCVIEN 
WHERE HOCVIEN.MAHV IN (
    SELECT HV.MAHV FROM KETQUATHI
    INNER JOIN HOCVIEN AS HV ON HV.MAHV = KETQUATHI.MAHV
    WHERE (KETQUATHI.DIEM >= 9) AND HV.MALOP = HOCVIEN.MALOP
    GROUP BY HV.MAHV
    HAVING COUNT(KETQUATHI.DIEM) >= ALL (
        SELECT COUNT(KQ2.DIEM) FROM KETQUATHI AS KQ2
        INNER JOIN HOCVIEN AS HV2 ON HV2.MAHV = KQ2.MAHV
        WHERE KQ2.DIEM >= 9 AND HV2.MALOP = HOCVIEN.MALOP
        GROUP BY HV2.MAHV
    )
)

MAHV,HO,TEN
K1101,Nguyen Van,A
K1203,Tran Thi Kim,Duyen
K1305,Le Thi,Huong

In [33]:
-- III. 28: Trong từng học kỳ của từng năm, mỗi giáo viên phân công dạy bao nhiêu môn học, bao nhiêu lớp.

SELECT GIAOVIEN.MAGV, GIAOVIEN.HOTEN, GIANGDAY.NAM, GIANGDAY.HOCKY, COUNT(DISTINCT GIANGDAY.MAMH) AS SOMON, COUNT(DISTINCT GIANGDAY.MALOP) AS SOLOP FROM GIANGDAY  
INNER JOIN GIAOVIEN ON GIANGDAY.MAGV = GIAOVIEN.MAGV
GROUP BY GIAOVIEN.MAGV, GIAOVIEN.HOTEN, GIANGDAY.NAM, GIANGDAY.HOCKY

MAGV,HOTEN,NAM,HOCKY,SOMON,SOLOP
GV02,Tran Tam Thanh,2006,1,1,2
GV04,Tran Nam Son,2007,1,1,2
GV05,Mai Thanh Danh,2006,2,1,1
GV05,Mai Thanh Danh,2006,3,1,1
GV06,Tran Doan Hung,2006,1,1,1
GV07,Nguyen Minh Tien,2006,1,1,1
GV07,Nguyen Minh Tien,2006,3,1,1
GV07,Nguyen Minh Tien,2007,1,1,1
GV08,Le Thi Tran,2006,1,1,1
GV09,Nguyen To Lan,2006,2,1,1
GV15,Le Ha Thanh,2006,1,1,1
GV15,Le Ha Thanh,2006,2,1,1
GV15,Le Ha Thanh,2006,3,1,2

In [35]:
-- III. 29: Trong từng học kỳ của từng năm, tìm giáo viên (mã giáo viên, họ tên) giảng dạy nhiều nhất.

SELECT GIANGDAY.NAM, GIANGDAY.HOCKY, GIAOVIEN.MAGV, GIAOVIEN.HOTEN FROM GIANGDAY
JOIN GIAOVIEN ON GIANGDAY.MAGV = GIAOVIEN.MAGV
GROUP BY GIAOVIEN.MAGV, GIAOVIEN.HOTEN, GIANGDAY.NAM, GIANGDAY.HOCKY
HAVING COUNT(MAMH) >= ALL (
    SELECT COUNT(MAMH) FROM GIANGDAY AS GD
    WHERE GD.NAM = GIANGDAY.NAM AND GIANGDAY.HOCKY = GD.HOCKY
    GROUP BY GD.MAGV
)

NAM,HOCKY,MAGV,HOTEN,(No column name)
2006,1,GV02,Tran Tam Thanh,2
2006,2,GV05,Mai Thanh Danh,1
2006,2,GV09,Nguyen To Lan,1
2006,2,GV15,Le Ha Thanh,1
2006,3,GV15,Le Ha Thanh,2
2007,1,GV04,Tran Nam Son,2

In [43]:
-- III. 30: Tìm môn học (mã môn học, tên môn học) có nhiều học viên thi không đạt (ở lần thi thứ 1) nhất.

SELECT MONHOC.MAMH, MONHOC.TENMH FROM KETQUATHI 
JOIN MONHOC ON KETQUATHI.MAMH = MONHOC.MAMH
WHERE LANTHI = 1 AND KQUA = 'Khong dat'
GROUP BY MONHOC.MAMH, MONHOC.TENMH
HAVING COUNT(LANTHI) >= ALL (
    SELECT COUNT(LANTHI) FROM KETQUATHI AS KQ 
    JOIN MONHOC AS MH ON KQ.MAMH = MH.MAMH
    WHERE LANTHI = 1 AND KQUA = 'Khong dat'
    GROUP BY MH.MAMH, MH.TENMH
)

MAMH,TENMH
CSDL,Co so du lieu

In [47]:
-- III. 31: Tìm học viên (mã học viên, họ tên) thi môn nào cũng đạt (chỉ xét lần thi thứ 1).

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM KETQUATHI
JOIN HOCVIEN ON KETQUATHI.MAHV = HOCVIEN.MAHV 
WHERE LANTHI = 1 AND KQUA = 'Dat'
GROUP BY HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN
HAVING COUNT(DISTINCT KETQUATHI.MAMH) = (
    SELECT COUNT(DISTINCT KETQUATHI.MAMH) FROM KETQUATHI 
    WHERE MAHV = HOCVIEN.MAHV
)

MAHV,HO,TEN
K1101,Nguyen Van,A
K1201,Nguyen Van,B
K1203,Tran Thi Kim,Duyen
K1302,Truong Thi My,Hien
K1304,Le Quang,Hien
K1305,Le Thi,Huong

In [53]:
-- III. 32*: Tìm học viên (mã học viên, họ tên) thi môn nào cũng đạt (chỉ xét lần thi sau cùng).

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM KETQUATHI
JOIN HOCVIEN ON KETQUATHI.MAHV = HOCVIEN.MAHV 
WHERE LANTHI = (
    SELECT MAX(LANTHI) FROM KETQUATHI AS KQ
    WHERE KQ.MAHV = KETQUATHI.MAHV AND KQ.MAMH = KETQUATHI.MAMH
) AND KQUA = 'Dat'
GROUP BY HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN
HAVING COUNT(DISTINCT KETQUATHI.MAMH) = (
    SELECT COUNT(DISTINCT KETQUATHI.MAMH) FROM KETQUATHI 
    WHERE MAHV = HOCVIEN.MAHV
)

MAHV,HO,TEN
K1101,Nguyen Van,A
K1103,Ha Duy,Lap
K1201,Nguyen Van,B
K1203,Tran Thi Kim,Duyen
K1302,Truong Thi My,Hien
K1304,Le Quang,Hien
K1305,Le Thi,Huong

In [52]:
-- III. 33: *Tìm học viên (mã học viên, họ tên) đã thi tất cả các môn đều đạt (chỉ xét lần thi thứ 1).

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM KETQUATHI
JOIN HOCVIEN ON KETQUATHI.MAHV = HOCVIEN.MAHV 
WHERE LANTHI = 1 AND KQUA = 'Dat'
GROUP BY HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN
HAVING COUNT(DISTINCT KETQUATHI.MAMH) = (
    SELECT COUNT(DISTINCT MAMH) FROM MONHOC
)

(No column name)
13

MAMH,TENMH,TCLT,TCTH,MAKHOA
CSDL,Co so du lieu,3,1,HTTT
CTDLGT,Cau truc du lieu va giai thuat,3,1,KHMT
CTRR,Cau truc roi rac,5,0,KHMT
DHMT,Do hoa may tinh,3,1,KHMT
HDH,He dieu hanh,4,0,KTMT
KTMT,Kien truc may tinh,3,0,KTMT
LTCFW,Lap trinh C for win,3,1,CNPM
LTHDT,Lap trinh huong doi tuong,3,1,CNPM
NMCNPM,Nhap mon cong nghe phan mem,3,0,CNPM
PTTKHTTT,Phan tich thiet ke he thong thong tin,4,1,HTTT
PTTKTT,Phan tich thiet ke thuat toan,3,0,KHMT
THDC,Tin hoc dai cuong,4,1,KHMT
TKCSDL,Thiet ke CO so du lieu,3,1,HTTT

In [54]:
-- III. 34: * Tìm học viên (mã học viên, họ tên) đã thi tất cả các môn đều đạt (chỉ xét lần thi sau cùng).

SELECT HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN FROM KETQUATHI
JOIN HOCVIEN ON KETQUATHI.MAHV = HOCVIEN.MAHV 
WHERE LANTHI = (
    SELECT MAX(LANTHI) FROM KETQUATHI AS KQ
    WHERE KQ.MAHV = KETQUATHI.MAHV AND KQ.MAMH = KETQUATHI.MAMH
) AND KQUA = 'Dat'
GROUP BY HOCVIEN.MAHV, HOCVIEN.HO, HOCVIEN.TEN
HAVING COUNT(DISTINCT KETQUATHI.MAMH) = (
    SELECT COUNT(DISTINCT MAMH) FROM MONHOC
)

In [5]:
-- I. 9: Lớp trưởng của một lớp phải là học viên của lớp đó.

CREATE TRIGGER CHECK_TRG_LOP ON LOP
AFTER UPDATE, INSERT AS 
BEGIN
    IF NOT EXISTS(
        SELECT * FROM HOCVIEN, inserted
        WHERE inserted.TRGLOP = HOCVIEN.MAHV AND HOCVIEN.MALOP = inserted.MALOP
    )
    BEGIN
        PRINT 'Lớp trưởng của một lớp phải là học viên của lớp đó.'
        ROLLBACK TRANSACTION
    END
END

In [6]:
-- I. 10: Trưởng khoa phải là giáo viên thuộc khoa và có học vị “TS” hoặc “PTS”.

CREATE TRIGGER CHECK_TRG_KHOA ON KHOA
AFTER UPDATE, INSERT AS 
BEGIN
    IF (NOT EXISTS(
        SELECT * FROM GIAOVIEN, inserted
        WHERE inserted.TRGKHOA = GIAOVIEN.MAGV AND GIAOVIEN.MAKHOA = inserted.MAKHOA AND GIAOVIEN.HOCVI IN ('TS', 'PTS')
    )) 
    BEGIN
        PRINT 'Trưởng khoa phải là giáo viên thuộc khoa và có học vị “TS” hoặc “PTS”.'
        ROLLBACK TRANSACTION
    END
END

In [12]:
-- I. 11: Học viên ít nhất là 18 tuổi.

ALTER TABLE HOCVIEN ADD CONSTRAINT CHECK_TUOI_HV CHECK (YEAR(GETDATE()) - YEAR(NGSINH) >= 18)

: Msg 195, Level 15, State 10, Procedure CHECK_TUOI_HV, Line 8
'TIMESTAMPDIFF' is not a recognized built-in function name.

In [8]:
-- I. 12: Giảng dạy một môn học ngày bắt đầu (TUNGAY) phải nhỏ hơn ngày kết thúc (DENNGAY).

ALTER TABLE GIANGDAY ADD CONSTRAINT CHECK_NGAY_GD CHECK (TUNGAY < DENNGAY)

In [ ]:
-- I. 13: Giáo viên khi vào làm ít nhất là 22 tuổi.

ALTER TABLE GIAOVIEN ADD CONSTRAINT CHECK_TUOI_GV CHECK (YEAR(NGVL) - YEAR(NGSINH) >= 22)

In [13]:
-- I. 14: Tất cả các môn học đều có số tín chỉ lý thuyết và tín chỉ thực hành chênh lệch nhau không quá 3.

ALTER TABLE MONHOC ADD CONSTRAINT CHECK_TINCHI CHECK (
    ABS(TCTH - TCLT) <= 3 OR TCTH = 0
)

In [ ]:
-- -- I. 15: Học viên chỉ được thi một môn học nào đó khi lớp của học viên đã học xong môn học này.

CREATE TRIGGER CHECK_THI_MON_HOC_XONG ON KETQUATHI
AFTER UPDATE, INSERT AS 
BEGIN
    DECLARE @MAMH VARCHAR(10),
            @MAHV CHAR(5), 
            @MALOP CHAR(3),
            @NGTHI SMALLDATETIME,
            @DENNGAY SMALLDATETIME

    SELECT @MAMH = MAMH, @MAHV = MAHV, @NGTHI = NGTHI FROM inserted
    SELECT @MALOP = MALOP FROM HOCVIEN
    WHERE HOCVIEN.MAHV = @MAHV

    SELECT @DENNGAY = DENNGAY FROM GIANGDAY
    WHERE MALOP = @MALOP AND MAMH = @MAMH

    IF @NGTHI < @DENNGAY
    BEGIN
        PRINT 'Học viên chỉ được thi những môn mà lớp của học viên đó đã học xong.'
        ROLLBACK TRANSACTION
    END  
END

In [10]:
-- I. 16: Mỗi học kỳ của một năm học, một lớp chỉ được học tối đa 3 môn.

CREATE TRIGGER CHECK_GIANGDAY_MONHOC ON GIANGDAY
AFTER INSERT, UPDATE AS
BEGIN
    DECLARE	@SL INT

    SELECT @SL = COUNT(*) FROM GIANGDAY, inserted
	WHERE GIANGDAY.MALOP = inserted.MALOP AND GIANGDAY.HOCKY = inserted.HOCKY AND GIANGDAY.NAM = inserted.NAM

    IF @SL > 3
    BEGIN
        ROLLBACK TRANSACTION
        PRINT 'Mỗi học kỳ của một năm học, một lớp chỉ được học tối đa 3 môn.'
    END
END

In [10]:
-- I. 17: Sỉ số của một lớp bằng với số lượng học viên thuộc lớp đó.

CREATE TRIGGER CHECK_LOP_SS ON LOP
AFTER UPDATE, INSERT AS 
BEGIN
    DECLARE @SL INT,
            @SISO INT,
            @LOP CHAR(3)

    SELECT @LOP = MALOP FROM inserted
    
    SELECT @SL = COUNT(*) FROM HOCVIEN
    WHERE MALOP = @LOP

    SELECT @SISO = SISO FROM inserted

    IF @SL <> @SISO
    BEGIN
        PRINT 'Sỉ số của một lớp bằng với số lượng học viên thuộc lớp đó.'
        ROLLBACK TRANSACTION
    END
END

: Msg 2714, Level 16, State 2, Procedure CHECK_LOP_SS, Line 3
There is already an object named 'CHECK_LOP_SS' in the database.

In [3]:
-- I. 18: Trong quan hệ DIEUKIEN giá trị của thuộc tính MAMH và MAMH_TRUOC trong cùng một bộ
-- không được giống nhau (“A”,”A”) và cũng không tồn tại hai bộ (“A”,”B”) và (“B”,”A”).

CREATE TRIGGER CHECK_DIEU_KIEN ON DIEUKIEN
AFTER UPDATE, INSERT AS 
BEGIN
    DECLARE @TRUOC VARCHAR(10), @SAU VARCHAR(10)

    SELECT @TRUOC = MAMH_TRUOC, @SAU = MAMH FROM inserted

    IF (@TRUOC = @SAU) OR (EXISTS(
        SELECT * FROM DIEUKIEN 
        WHERE MAMH_TRUOC = @SAU AND MAMH = @TRUOC
    )) 
    BEGIN
        PRINT 'Trong quan hệ DIEUKIEN giá trị của thuộc tính MAMH và MAMH_TRUOC trong cùng một bộ không được giống nhau (“A”,”A”) và cũng không tồn tại hai bộ (“A”,”B”) và (“B”,”A”).'
        ROLLBACK TRANSACTION
    END
END

In [17]:
-- I. 19: Các giáo viên có cùng học vị, học hàm, hệ số lương thì mức lương bằng nhau.

CREATE TRIGGER CHECK_GV_LUONG ON GIAOVIEN
AFTER UPDATE, INSERT AS 
BEGIN
    IF (EXISTS(
        SELECT * FROM inserted, GIAOVIEN
        WHERE inserted.HOCHAM = GIAOVIEN.HOCHAM AND inserted.HOCVI = GIAOVIEN.HOCVI AND inserted.MUCLUONG <> GIAOVIEN.MUCLUONG
    ))
    BEGIN
        PRINT 'Các giáo viên có cùng học vị, học hàm, hệ số lương thì mức lương bằng nhau.'
        ROLLBACK TRANSACTION
    END
END
GO

In [9]:
-- I. 20: Học viên chỉ được thi lại (lần thi >1) khi điểm của lần thi trước đó dưới 5.

CREATE TRIGGER CHECK_THI_LAI ON KETQUATHI
AFTER UPDATE, INSERT AS 
BEGIN
    DECLARE @DIEM NUMERIC(4, 2)
    DECLARE @LANTHIHT INT

    SELECT @LANTHIHT = LANTHI FROM inserted

    IF @LANTHIHT > 1 
    BEGIN
        SELECT @DIEM = KETQUATHI.DIEM FROM KETQUATHI, inserted
        WHERE KETQUATHI.LANTHI = @LANTHIHT - 1 AND inserted.MAHV = KETQUATHI.MAHV AND inserted.MAMH = KETQUATHI.MAMH

        IF @DIEM >= 5 
        BEGIN
            PRINT 'Học viên chỉ được thi lại (lần thi >1) khi điểm của lần thi trước đó dưới 5.'
            ROLLBACK TRANSACTION
        END
    END
END
GO

: Msg 2714, Level 16, State 2, Procedure CHECK_THI_LAI, Line 3
There is already an object named 'CHECK_THI_LAI' in the database.

In [19]:
-- I. 21: Ngày thi của lần thi sau phải lớn hơn ngày thi của lần thi trước (cùng học viên, cùng môn học).

CREATE TRIGGER CHECK_NG_THI ON KETQUATHI
AFTER UPDATE, INSERT AS 
BEGIN
    DECLARE @NG_THI_HT SMALLDATETIME,
            @NG_THI_TRUOC SMALLDATETIME,
            @LANTHIHT INT
    
    SELECT @LANTHIHT = LANTHI, @NG_THI_HT = NGTHI FROM inserted

    IF @LANTHIHT > 1 
    BEGIN
        SELECT @NG_THI_TRUOC = KETQUATHI.NGTHI FROM KETQUATHI, inserted
        WHERE KETQUATHI.LANTHI = @LANTHIHT - 1 AND inserted.MAHV = KETQUATHI.MAHV AND inserted.MAMH = KETQUATHI.MAMH
        
        IF @NG_THI_HT <= @NG_THI_TRUOC 
        BEGIN
            PRINT 'Ngày thi của lần thi sau phải lớn hơn ngày thi của lần thi trước (cùng học viên, cùng môn học).'
            ROLLBACK TRANSACTION
        END
    END
END
GO

In [2]:
-- I. 22: Học viên chỉ được thi những môn mà lớp của học viên đó đã học xong.

CREATE TRIGGER CHECK_THI_MON_HOC_XONG ON KETQUATHI
AFTER UPDATE, INSERT AS 
BEGIN
    DECLARE @MAMH VARCHAR(10),
            @MAHV CHAR(5), 
            @MALOP CHAR(3),
            @NGTHI SMALLDATETIME,
            @DENNGAY SMALLDATETIME

    SELECT @MAMH = MAMH, @MAHV = MAHV, @NGTHI = NGTHI FROM inserted
    SELECT @MALOP = MALOP FROM HOCVIEN
    WHERE HOCVIEN.MAHV = @MAHV

    SELECT @DENNGAY = DENNGAY FROM GIANGDAY
    WHERE MALOP = @MALOP AND MAMH = @MAMH

    IF @NGTHI < @DENNGAY
    BEGIN
        PRINT 'Học viên chỉ được thi những môn mà lớp của học viên đó đã học xong.'
        ROLLBACK TRANSACTION
    END  
END
GO

In [8]:
-- I. 23: Khi phân công giảng dạy một môn học, phải xét đến thứ tự trước sau giữa các môn học (sau khi học
-- xong những môn học phải học trước mới được học những môn liền sau)..

CREATE TRIGGER TRG_PHANCONG_GIANGDAY ON GIANGDAY
AFTER INSERT, UPDATE AS
BEGIN
	DECLARE @MAMH CHAR(10), 
            @MALOP CHAR(3),
            @MAMH_TRUOC CHAR(10)
	
	SELECT @MALOP = MALOP, @MAMH = MAMH FROM inserted 
	SELECT @MAMH_TRUOC = MAMH_TRUOC FROM DIEUKIEN WHERE @MAMH = MAMH

	IF (@MAMH_TRUOC IS NOT NULL) AND (NOT EXISTS (
        SELECT * FROM GIANGDAY WHERE
        MAMH = @MAMH_TRUOC AND MALOP = @MALOP
    ))
	BEGIN
		PRINT 'Khi phân công giảng dạy một môn học, phải xét đến thứ tự trước sau giữa các môn học (sau khi học xong những môn học phải học trước mới được học những môn liền sau)..'
		ROLLBACK TRANSACTION
	END
END

: Msg 2714, Level 16, State 2, Procedure TRG_PHANCONG_GIANGDAY, Line 4
There is already an object named 'TRG_PHANCONG_GIANGDAY' in the database.

In [5]:
-- I. 24: Giáo viên chỉ được phân công dạy những môn thuộc khoa giáo viên đó phụ trách.

CREATE TRIGGER CHECK_PHAN_CONG_GD ON GIANGDAY
AFTER INSERT, UPDATE AS
BEGIN
    DECLARE	@MAKHOA_MON CHAR(4), @MAKHOA_GV CHAR(4)

	SELECT @MAKHOA_MON = MONHOC.MAKHOA, @MAKHOA_GV = GIAOVIEN.MAKHOA FROM INSERTED, MONHOC, GIAOVIEN
	WHERE inserted.MAMH = MONHOC.MAMH AND inserted.MAGV = GIAOVIEN.MAGV

    IF @MAKHOA_GV <> @MAKHOA_MON
    BEGIN
        PRINT 'Giáo viên chỉ được phân công dạy những môn thuộc khoa giáo viên đó phụ trách.'
        ROLLBACK TRANSACTION
    END
END

: Msg 2714, Level 16, State 2, Procedure CHECK_PHAN_CONG_GD, Line 3
There is already an object named 'CHECK_PHAN_CONG_GD' in the database.

In [5]:
-- II. 2: Cập nhật giá trị điểm trung bình tất cả các môn học (DIEMTB) của mỗi học viên (tất cả các môn
-- học đều có hệ số 1 và nếu học viên thi một môn nhiều lần, chỉ lấy điểm của lần thi sau cùng).

CREATE TRIGGER UPDATE_DIEMTB ON KETQUATHI
AFTER INSERT, UPDATE AS
BEGIN
    DECLARE @DIEM_TB NUMERIC(4, 2)
    DECLARE @MAHV CHAR(5)

    SELECT @MAHV = MAHV FROM inserted

    SELECT @DIEM_TB = AVG(DIEM) FROM KETQUATHI
    WHERE MAHV = @MAHV AND LANTHI = (
        SELECT MAX(LANTHI) FROM KETQUATHI AS KQ
        WHERE KQ.MAHV = KETQUATHI.MAHV AND KQ.MAHV = MAHV
    )

    UPDATE HOCVIEN SET DIEMTB = @DIEM_TB
END
GO

CREATE TRIGGER UPDATE_DIEMTB_DEL ON KETQUATHI
AFTER DELETE AS
BEGIN
    DECLARE @DIEM_TB NUMERIC(4, 2)
    DECLARE @MAHV CHAR(5)

    SELECT @MAHV = MAHV FROM deleted

    SELECT @DIEM_TB = AVG(DIEM) FROM KETQUATHI
    WHERE MAHV = @MAHV AND LANTHI = (
        SELECT MAX(LANTHI) FROM KETQUATHI AS KQ
        WHERE KQ.MAHV = KETQUATHI.MAHV AND KQ.MAHV = MAHV
    )

    UPDATE HOCVIEN SET DIEMTB = @DIEM_TB 
    WHERE MAHV = @MAHV
END
GO

: Msg 2714, Level 16, State 2, Procedure UPDATE_DIEMTB, Line 4
There is already an object named 'UPDATE_DIEMTB' in the database.

In [4]:
-- II. 2: Cập nhật giá trị cho cột XEPLOAI trong quan hệ HOCVIEN như sau:

-- o Nếu DIEMTB  9 thì XEPLOAI =”XS”
-- o Nếu 8  DIEMTB < 9 thì XEPLOAI = “G”
-- o Nếu 6.5  DIEMTB < 8 thì XEPLOAI = “K”
-- o Nếu 5  DIEMTB < 6.5 thì XEPLOAI = “TB”
-- o Nếu DIEMTB < 5 thì XEPLOAI = ”Y”

CREATE TRIGGER TRG_XEPLOAI_UPDATE ON HOCVIEN
AFTER UPDATE AS
BEGIN
    DECLARE @DIEM_HT NUMERIC(4, 2)
    DECLARE @MAHV CHAR(5)
    DECLARE @DIEM_TRUOC NUMERIC(4, 2)

    SELECT @DIEM_HT = DIEMTB, @MAHV = MAHV FROM inserted
    SELECT @DIEM_TRUOC = DIEMTB FROM deleted

    IF @DIEM_HT <> @DIEM_TRUOC
    BEGIN
        IF @DIEM_HT >= 9 
            UPDATE HOCVIEN SET XEPLOAI = 'XS' WHERE MAHV = @MAHV 

        IF @DIEM_HT >= 8 AND @DIEM_HT < 9 
            UPDATE HOCVIEN SET XEPLOAI = 'G' WHERE MAHV = @MAHV 
        
        IF @DIEM_HT >= 6.5 AND @DIEM_HT < 8 
            UPDATE HOCVIEN SET XEPLOAI = 'K' WHERE MAHV = @MAHV 
        
        IF @DIEM_HT >= 5 AND @DIEM_HT < 6.5 
            UPDATE HOCVIEN SET XEPLOAI = 'TB' WHERE MAHV = @MAHV 
        
        IF @DIEM_HT < 5
            UPDATE HOCVIEN SET XEPLOAI = 'Y' WHERE MAHV = @MAHV 
    END
END

-- hoac

UPDATE HOCVIEN SET XEPLOAI = 'XS' WHERE DIEMTB >= 9
UPDATE HOCVIEN SET XEPLOAI = 'G' WHERE DIEMTB >= 8 AND DIEMTB < 9
UPDATE HOCVIEN SET XEPLOAI = 'K' WHERE DIEMTB >= 6.5 AND DIEMTB < 8
UPDATE HOCVIEN SET XEPLOAI = 'TB' WHERE DIEMTB >= 5 AND DIEMTB < 6.5
UPDATE HOCVIEN SET XEPLOAI = 'Y' WHERE DIEMTB < 5

: Msg 2714, Level 16, State 2, Procedure UPDATE_XEPLOAI_INSERT, Line 9
There is already an object named 'UPDATE_XEPLOAI_INSERT' in the database.