In [1]:
CREATE DATABASE QuanLyHangHoa;

In [1]:
USE QuanLyHangHoa;

In [5]:
CREATE TABLE Nhacungcap (
    maNCC VARCHAR(5),
    tenNCC VARCHAR(20),
    trangthai NUMERIC(2, 0),
    thanhpho VARCHAR(30),
    PRIMARY KEY (maNCC)
)

CREATE TABLE Phutung (
    maPT VARCHAR(5),
    tenPT VARCHAR(10),
    mausac VARCHAR(10),
    khoiluong FLOAT,
    thanhpho VARCHAR(30),
    PRIMARY KEY (maPT),
)

CREATE TABLE Vanchuyen (
    maNCC VARCHAR(5),
    maPT VARCHAR(5),
    soluong NUMERIC(5, 0),
    PRIMARY KEY (maNCC, maPT),
    FOREIGN KEY (maPT) REFERENCES Phutung (maPT),
    FOREIGN KEY (maNCC) REFERENCES Nhacungcap (maNCC)
)

In [6]:
-- 1. Hiển thị thông tin (maNCC, tenNCC, thanhpho) của tất cả nhà cung cấp.

SELECT maNCC, tenNCC, thanhpho FROM Nhacungcap

In [7]:
-- 2. Hiển thị thông tin của tất cả các phụ tùng.

SELECT * FROM Phutung

In [9]:
-- 3. Hiển thị thông tin các nhà cung cấp ở thành phố London.

SELECT * FROM Nhacungcap 
WHERE thanhpho = 'London'

In [10]:
-- 4. Hiển thị mã phụ tùng, tên và màu sắc của tất cả các phụ tùng ở thành phố Paris.

SELECT maPT, tenPT, mausac FROM Phutung 
WHERE thanhpho = 'Paris'

In [11]:
-- 5. Hiển thị mã phụ tùng, tên, khối lượng của những phụ tùng có khối lượng lớn hơn 15.

SELECT maPT, tenPT, khoiluong FROM Phutung 
WHERE khoiluong > 15

In [12]:
-- 6. Tìm những phụ tùng (maPT, tenPt, mausac) có khối lượng lớn hơn 15, không phải màu đỏ (red).

SELECT maPT, tenPT, mausac FROM Phutung 
WHERE khoiluong > 15 AND mausac != 'red'

In [ ]:
-- 7. Tìm những phụ tùng (maPT, tenPt, mausac) có khối lượng lớn hơn 15, màu sắc khác màu đỏ (red) và xanh (green).

SELECT maPT, tenPT, mausac FROM Phutung 
WHERE khoiluong > 15 AND mausac != 'red' AND mausac != 'green'

In [4]:
-- 8. Hiển thị những phụ tùng (maPT, tenPT, khối lượng) có khối lượng lớn hơn 15 và nhỏ hơn 20, sắp xếp theo tên phụ tùng.

SELECT maPT, tenPT, khoiluong FROM Phutung 
WHERE khoiluong > 15 AND khoiluong < 20 
ORDER BY tenPT

In [14]:
-- 9. Hiển thị những phụ tùng được vận chuyển bởi nhà cung cấp có mã số S1. Không hiển thị kết quả trùng. (sử dụng phép kết).

SELECT DISTINCT Phutung.maPT, Phutung.tenPT, Phutung.khoiluong, Phutung.mausac, Phutung.thanhpho FROM Phutung 
INNER JOIN Vanchuyen ON Phutung.maPT = Vanchuyen.maPT
WHERE maNCC = 'S1'

In [15]:
-- 10. Hiển thị những nhà cung cấp vận chuyển phụ tùng có mã là P1 (sử dụng phép kết).

SELECT Nhacungcap.maNCC, Nhacungcap.tenNCC, Nhacungcap.trangthai, Nhacungcap.thanhpho FROM Nhacungcap 
INNER JOIN Vanchuyen ON Vanchuyen.maNCC = Nhacungcap.maNCC
WHERE maPT = 'P1'

In [4]:
-- 11. Hiển thị thông tin nhà cung cấp ở thành phố London và có vận chuyển phụ tùng của thành phố London. Không hiển thị kết quả trùng. (Sử dụng phép kết)

SELECT DISTINCT * FROM Nhacungcap WHERE maNCC IN (
    SELECT maNCC FROM Nhacungcap WHERE thanhpho = 'London'
    INTERSECT 
    (
        SELECT Vanchuyen.maNCC FROM Vanchuyen
        INNER JOIN Phutung ON Vanchuyen.maPT = Phutung.maPT
        WHERE thanhpho = 'London' 
    )
)

In [2]:
-- 12: Lặp lại câu 9 nhưng sử dụng toán tử IN.

SELECT DISTINCT Phutung.maPT, Phutung.tenPT, Phutung.khoiluong, Phutung.mausac, Phutung.thanhpho FROM Phutung 
WHERE maPT IN (
    SELECT MAPT FROM VANCHUYEN
    WHERE MANCC = 'S1'
)

In [3]:
-- 13: Lặp lại câu 10 nhưng sử dụng toán tử IN

SELECT Nhacungcap.maNCC, Nhacungcap.tenNCC, Nhacungcap.trangthai, Nhacungcap.thanhpho FROM Nhacungcap 
WHERE MANCC IN (
    SELECT MANCC FROM VANCHUYEN
    WHERE MAPT = 'P1'
)

In [4]:
-- 14: Lặp lại câu 9 nhưng sử dụng toán tử EXISTS

SELECT DISTINCT Phutung.maPT, Phutung.tenPT, Phutung.khoiluong, Phutung.mausac, Phutung.thanhpho FROM Phutung 
WHERE EXISTS (
    SELECT MAPT FROM VANCHUYEN
    WHERE MANCC = 'S1' AND MAPT = PHUTUNG.MAPT
)

In [5]:
-- 15: Lặp lại câu 10 nhưng sử dụng toán tử EXISTS

SELECT Nhacungcap.maNCC, Nhacungcap.tenNCC, Nhacungcap.trangthai, Nhacungcap.thanhpho FROM Nhacungcap 
WHERE EXISTS (
    SELECT MANCC FROM VANCHUYEN
    WHERE MAPT = 'P1' AND MANCC = NHACUNGCAP.MANCC
)

In [ ]:
-- 16: Lặp lại câu 11 nhưng sử dụng truy vấn con. Sử dụng toán tử IN.

SELECT * FROM NHACUNGCAP
WHERE THANHPHO = 'London' AND MANCC IN (
    SELECT MANCC FROM VANCHUYEN
    INNER JOIN PHUTUNG
    ON PHUTUNG.MAPT = VANCHUYEN.MAPT
    WHERE PHUTUNG.THANHPHO = 'London'
)

In [6]:
-- 17: Lặp lại câu 11 nhưng dùng truy vấn con. Sử dụng toán tử EXISTS.

SELECT * FROM NHACUNGCAP
WHERE THANHPHO = 'London' AND EXISTS (
    SELECT MANCC FROM VANCHUYEN
    INNER JOIN PHUTUNG
    ON PHUTUNG.MAPT = VANCHUYEN.MAPT
    WHERE PHUTUNG.THANHPHO = 'London' AND NHACUNGCAP.MANCC = VANCHUYEN.MANCC
)

In [7]:
-- 18: Tìm nhà cung cấp chưa vận chuyển bất kỳ phụ tùng nào. Sử dụng NOT IN.

SELECT * FROM NHACUNGCAP
WHERE MANCC NOT IN (
    SELECT MANCC FROM VANCHUYEN
)

In [8]:
-- 19: Tìm nhà cung cấp chưa vận chuyển bất kỳ phụ tùng nào. Sử dụng NOT EXISTS.

SELECT * FROM NHACUNGCAP
WHERE NOT EXISTS (
    SELECT * FROM VANCHUYEN
    WHERE VANCHUYEN.MANCC = NHACUNGCAP.MANCC
)

In [ ]:
-- 20: Tìm nhà cung cấp chưa vận chuyển bất kỳ phụ tùng nào. Sử dụng outer
-- JOIN (Phép kết ngoài)

SELECT * FROM VANCHUYEN
RIGHT OUTER JOIN NHACUNG
ON VANCHUYEN.MANCC = NHACUNGCAP.MANCC

In [ ]:
-- 21: Có tất cả bao nhiêu nhà cung cấp? 

SELECT COUNT(DISTINCT MANCC) FROM NHACUNGCAP

In [9]:
-- 22: Có tất cả bao nhiêu nhà cung cấp ở London?

SELECT COUNT(DISTINCT MANCC) FROM NHACUNGCAP WHERE THANHPHO = 'London'

(No column name)
0

In [11]:
-- 23: Hiển thị trị giá cao nhất, thấp nhất của trangthai của các nhà cung cấp.

SELECT MANCC, MAX(TRANGTHAI), MIN(TRANGTHAI) FROM NHACUNGCAP
GROUP BY MANCC

In [ ]:
-- 24: Hiển thị giá trị cao nhất, thấp nhất của trangthai trong table
-- nhacungcap ở thành phố London.

SELECT MANCC, MAX(TRANGTHAI), MIN(TRANGTHAI) FROM NHACUNGCAP
WHERE THANHPHO = 'London'
GROUP BY MANCC

In [13]:
-- 25: Mỗi nhà cung cấp vận chuyển bao nhiêu phụ tùng? Chỉ hiển thị mã nhà
-- cung cấp, tổng số phụ tùng đã vận chuyển.

SELECT NHACUNGCAP.MANCC, SUM(VANCHUYEN.SOLUONG) FROM NHACUNGCAP
INNER JOIN VANCHUYEN ON NHACUNGCAP.MANCC = VANCHUYEN.MANCC
GROUP BY NHACUNGCAP.MANCC

In [17]:
-- 26. Mỗi nhà cung cấp vận chuyển bao nhiêu phụ tùng? Hiển thị mã nhà cung
-- cấp, tên, thành phố của nhà cung cấp và tổng số phụ tùng đã vận chuyển

SELECT NHACUNGCAP.MANCC, NHACUNGCAP.TENNCC, NHACUNGCAP.THANHPHO, SUM(VANCHUYEN.SOLUONG) FROM NHACUNGCAP
INNER JOIN VANCHUYEN ON NHACUNGCAP.MANCC = VANCHUYEN.MANCC
GROUP BY NHACUNGCAP.MANCC, NHACUNGCAP.TENNCC, NHACUNGCAP.THANHPHO

In [21]:
-- 27. Nhà cung cấp nào đã vận chuyển tổng cộng nhiều hơn 500 phụ tùng? Chỉ
-- hiển thị mã nhà cung cấp

SELECT NHACUNGCAP.MANCC FROM NHACUNGCAP
INNER JOIN VANCHUYEN ON NHACUNGCAP.MANCC = VANCHUYEN.MANCC
GROUP BY NHACUNGCAP.MANCC
HAVING SUM(VANCHUYEN.SOLUONG) > 500

In [23]:
-- 28: Nhà cung cấp nào đã vận chuyển nhiều hơn 300 phụ tùng màu đỏ (red).
-- Chỉ hiển thị mã nhà cung cấp.

SELECT NHACUNGCAP.MANCC FROM NHACUNGCAP
INNER JOIN VANCHUYEN ON NHACUNGCAP.MANCC = VANCHUYEN.MANCC
INNER JOIN PHUTUNG ON PHUTUNG.MAPT = VANCHUYEN.MAPT
WHERE PHUTUNG.MAUSAC = 'red'
GROUP BY NHACUNGCAP.MANCC
HAVING SUM(VANCHUYEN.SOLUONG) > 300

In [24]:
-- 29: Nhà cung cấp nào đã vận chuyển nhiều hơn 300 phụ tùng màu đỏ (red).
-- Hiển thị mã nhà cung cấp, tên, thành phố và số lượng phụ tùng màu đỏ đã
-- vận chuyển.

SELECT NHACUNGCAP.MANCC, NHACUNGCAP.TENNCC, NHACUNGCAP.THANHPHO, SUM(VANCHUYEN.SOLUONG) FROM NHACUNGCAP
INNER JOIN VANCHUYEN ON NHACUNGCAP.MANCC = VANCHUYEN.MANCC
INNER JOIN PHUTUNG ON PHUTUNG.MAPT = VANCHUYEN.MAPT
WHERE PHUTUNG.MAUSAC = 'red'
GROUP BY NHACUNGCAP.MANCC, NHACUNGCAP.TENNCC, NHACUNGCAP.THANHPHO
HAVING SUM(VANCHUYEN.SOLUONG) > 300

In [25]:
-- 30: Có bao nhiêu nhà cung cấp ở mỗi thành phố.

SELECT THANHPHO, COUNT(*) FROM NHACUNGCAP
GROUP BY THANHPHO

In [26]:
-- 31: Nhà cung cấp nào đã vận chuyển nhiều phụ tùng nhất. Hiển thị tên nhà
-- cung cấp và số lượng phụ tùng đã vận chuyển.

SELECT TOP 1 NHACUNGCAP.MANCC, SUM(VANCHUYEN.SOLUONG) AS SL FROM NHACUNGCAP
INNER JOIN VANCHUYEN ON NHACUNGCAP.MANCC = VANCHUYEN.MANCC
GROUP BY NHACUNGCAP.MANCC
ORDER BY SL DESC

In [27]:
-- 32: Thành phố nào có cả nhà cung cấp và phụ tùng.

SELECT THANHPHO FROM NHACUNGCAP 
WHERE THANHPHO IN (
    SELECT THANHPHO FROM PHUTUNG
)

In [31]:
-- 33: Viết câu lệnh SQL để insert nhà cung cấp mới: S6, Duncan, 30, Paris.

INSERT INTO NHACUNGCAP VALUES ('S6', 'Duncan', 30, 'Paris')

In [32]:
-- 34: Viết câu lệnh SQL để thay đổi thanh phố S6 (ở câu 33) thành Sydney.

UPDATE NHACUNGCAP SET THANHPHO = 'Sydney' 
WHERE MANCC = 'S6'

In [33]:
-- 35: Viết câu lệnh SQL tăng trangthai của nhà cung cấp ở London lên thêm 10.

UPDATE NHACUNGCAP SET TRANGTHAI = TRANGTHAI + 10
WHERE THANHPHO = 'London'

In [34]:
-- 36:  Viết câu lệnh SQL xoá nhà cung cấp S6

DELETE FROM NHACUNGCAP 
WHERE MANCC = 'S6'