In [ ]:
CREATE DATABASE QuanLyBanHang;

In [1]:
USE QuanLyBanHang;

In [ ]:
CREATE TABLE KHACHHANG (
    MAKH    CHAR(4),
    HOTEN   VARCHAR(40),
    DCHI    VARCHAR(50),
    SODT    VARCHAR(20),
    NGSINH  SMALLDATETIME,
    DOANHSO MONEY,
    NGDK    SMALLDATETIME,
    PRIMARY KEY (MAKH)
)

CREATE TABLE NHANVIEN (
    MANV    CHAR(4),
    HOTEN   VARCHAR(40),
    SODT    VARCHAR(20),
    NGVL    SMALLDATETIME,
    PRIMARY KEY(MANV)
)

CREATE TABLE SANPHAM (
    MASP    CHAR(4),
    TENSP   VARCHAR(40),
    DVT     VARCHAR(20),
    NUOCSX  VARCHAR(40),
    GIA     MONEY,
    PRIMARY KEY (MASP)
)

CREATE TABLE HOADON (
    SOHD    INT,
    NGHD    SMALLDATETIME,
    MAKH    CHAR(4),
    MANV    CHAR(4),
    TRIGIA  MONEY,
    PRIMARY KEY (SOHD),
    FOREIGN KEY (MANV) REFERENCES NHANVIEN(MANV),
    FOREIGN KEY (MAKH) REFERENCES KHACHHANG(MAKH)
)

CREATE TABLE CTHD (
    SOHD    INT,
    MASP    CHAR(4),
    SL      INT,
    PRIMARY KEY(SOHD, MASP),
    FOREIGN KEY (MASP) REFERENCES SANPHAM(MASP),
    FOREIGN KEY (SOHD) REFERENCES HOADON(SOHD)
)

In [ ]:
INSERT INTO NHANVIEN VALUES ('NV01', 'Nguyen Nhu Nhut', 0927345678, '4/13/2006')
INSERT INTO NHANVIEN VALUES ('NV02', 'Le Thi Phi Yen', 0987567390, '4/21/2006')
INSERT INTO NHANVIEN VALUES ('NV03', 'Nguyen Van B', 0997047382, '4/27/2006')
INSERT INTO NHANVIEN VALUES ('NV04', 'Ngo Thanh Tuan', 0913758498, '6/24/2006')
INSERT INTO NHANVIEN VALUES ('NV05', 'Nguyen Thi Truc Thanh', 0918590387, '7/20/2006')

In [ ]:
INSERT INTO KHACHHANG VALUES ('KH01', 'Nguyen Van A', '731 Tran Hung Dao, Q5, TpHCM', '08823451', '10/22/1960', 13060000, '7/22/2006')
INSERT INTO KHACHHANG VALUES ('KH02', 'Tran Ngoc Han', '23/5 Nguyen Trai, Q5, TpHCM', '0908256478', '4/3/1974', 280000, '7/30/2006')
INSERT INTO KHACHHANG VALUES ('KH03', 'Tran Ngoc Linh', '45 Nguyen Canh Chan, Q1, TpHCM', '0938776266', '6/12/1980', 3860000, '8/5/2006')
INSERT INTO KHACHHANG VALUES ('KH04', 'Tran Minh Long', '50/34 Le Dai Hanh, Q10, TpHCM', '0917325476', '3/9/1965', 250000, '10/2/2006')
INSERT INTO KHACHHANG VALUES ('KH05', 'Le Nhat Minh', '34 Truong Dinh, Q3, TpHCM', '08246108', '3/10/1950', 21000, '10/28/2006')
INSERT INTO KHACHHANG VALUES ('KH06', 'Le Hoai Thuong', '227 Nguyen Van Cu, Q5, TpHCM', '08631738', '12/31/1981', 915000, '11/24/2006')
INSERT INTO KHACHHANG VALUES ('KH07', 'Nguyen Van Tam', '32/3 Tran Binh Trong, Q5, TpHCM', '0916783565', '4/6/1971', 12500, '12/1/2006')
INSERT INTO KHACHHANG VALUES ('KH08', 'Phan Thi Thanh', '45/2 An Duong Vuong, Q5, TpHCM', '0938435756', '1/10/1971', 365000, '12/13/2006')
INSERT INTO KHACHHANG VALUES ('KH09', 'Le Ha Vinh', '873 Le Hong Phong, Q5, TpHCM', '08654763', '9/3/1979', 70000, '1/14/2007')
INSERT INTO KHACHHANG VALUES ('KH10', 'Ha Duy Lap', '34/34B Nguyen Trai, Q1, TpHCM', '08768904', '5/2/1983', 67500, '1/16/2007')

In [ ]:
INSERT INTO SANPHAM VALUES ('BC01', 'But chi', 'cay', 'Singapore', 3000)
INSERT INTO SANPHAM VALUES ('BC02', 'But chi', 'cay', 'Singapore', 5000)
INSERT INTO SANPHAM VALUES ('BC03', 'But chi', 'cay', 'Viet Nam', 3500)
INSERT INTO SANPHAM VALUES ('BC04', 'But chi', 'hop', 'Viet Nam', 30000)
INSERT INTO SANPHAM VALUES ('BB01', 'But bi', 'cay', 'Viet Nam', 5000)
INSERT INTO SANPHAM VALUES ('BB02', 'But bi', 'cay', 'Trung Quoc', 7000)
INSERT INTO SANPHAM VALUES ('BB03', 'But bi', 'hop', 'Thai Lan', 100000)
INSERT INTO SANPHAM VALUES ('TV01', 'Tap 100 giay mong', 'quyen', 'Trung Quoc', 2500)
INSERT INTO SANPHAM VALUES ('TV02', 'Tap 200 giay mong', 'quyen', 'Trung Quoc', 4500)
INSERT INTO SANPHAM VALUES ('TV03', 'Tap 100 giay tot', 'quyen', 'Viet Nam', 3000)
INSERT INTO SANPHAM VALUES ('TV04', 'Tap 200 giay tot', 'quyen', 'Viet Nam', 5500)
INSERT INTO SANPHAM VALUES ('TV05', 'Tap 100 trang', 'chuc', 'Viet Nam', 23000)
INSERT INTO SANPHAM VALUES ('TV06', 'Tap 200 trang', 'chuc', 'Viet Nam', 53000)
INSERT INTO SANPHAM VALUES ('TV07', 'Tap 100 trang', 'chuc', 'Trung Quoc', 34000)
INSERT INTO SANPHAM VALUES ('ST01', 'So tay 500 trang', 'quyen', 'Trung Quoc', 40000)
INSERT INTO SANPHAM VALUES ('ST02', 'So tay loai 1', 'quyen', 'Viet Nam', 55000)
INSERT INTO SANPHAM VALUES ('ST03', 'So tay loai 2', 'quyen', 'Viet Nam', 51000)
INSERT INTO SANPHAM VALUES ('ST04', 'So tay', 'quyen', 'Thai Lan', 55000)
INSERT INTO SANPHAM VALUES ('ST05', 'So tay mong', 'quyen', 'Thai Lan', 20000)
INSERT INTO SANPHAM VALUES ('ST06', 'Phan viet bang', 'hop', 'Viet Nam', 5000)
INSERT INTO SANPHAM VALUES ('ST07', 'Phan khong bui', 'hop', 'Viet Nam', 7000)
INSERT INTO SANPHAM VALUES ('ST08', 'Bong bang', 'cai', 'Viet Nam', 1000)
INSERT INTO SANPHAM VALUES ('ST09', 'But long', 'cay', 'Viet Nam', 5000)
INSERT INTO SANPHAM VALUES ('ST10', 'But long', 'cay', 'Trung Quoc', 7000)

In [ ]:
INSERT INTO HOADON VALUES (1001, '7/23/2006', 'KH01', 'NV01', 320000)
INSERT INTO HOADON VALUES (1002, '8/12/2006', 'KH01', 'NV02', 840000)
INSERT INTO HOADON VALUES (1003, '8/23/2006', 'KH02', 'NV01', 100000)
INSERT INTO HOADON VALUES (1004, '9/1/2006', 'KH02', 'NV01', 180000)
INSERT INTO HOADON VALUES (1005, '10/20/2006', 'KH01', 'NV02', 3800000)
INSERT INTO HOADON VALUES (1006, '10/16/2006', 'KH01', 'NV03', 2430000)
INSERT INTO HOADON VALUES (1007, '10/28/2006', 'KH03', 'NV03', 510000)
INSERT INTO HOADON VALUES (1008, '10/28/2006', 'KH01', 'NV03', 440000)
INSERT INTO HOADON VALUES (1009, '10/28/2006', 'KH03', 'NV04', 200000)
INSERT INTO HOADON VALUES (1010, '11/1/2006', 'KH01', 'NV01', 5200000)
INSERT INTO HOADON VALUES (1011, '11/4/2006', 'KH04', 'NV03', 250000)
INSERT INTO HOADON VALUES (1012, '11/30/2006', 'KH05', 'NV03', 21000)
INSERT INTO HOADON VALUES (1013, '12/12/2006', 'KH06', 'NV01', 5000)
INSERT INTO HOADON VALUES (1014, '12/31/2006', 'KH03', 'NV02', 3150000)
INSERT INTO HOADON VALUES (1015, '1/1/2007', 'KH06', 'NV01', 910000)
INSERT INTO HOADON VALUES (1016, '1/1/2007', 'KH07', 'NV02', 12500)
INSERT INTO HOADON VALUES (1017, '1/2/2007', 'KH08', 'NV03', 35000)
INSERT INTO HOADON VALUES (1018, '1/13/2007', 'KH08', 'NV03', 330000)
INSERT INTO HOADON VALUES (1019, '1/13/2007', 'KH01', 'NV03', 30000)
INSERT INTO HOADON VALUES (1020, '1/14/2007', 'KH09', 'NV04', 70000)
INSERT INTO HOADON VALUES (1021, '1/16/2007', 'KH10', 'NV03', 67500)
INSERT INTO HOADON VALUES (1022, '1/16/2007', NULL, 'NV03', 7000)
INSERT INTO HOADON VALUES (1023, '1/17/2007', NULL, 'NV01', 330000)

In [ ]:
INSERT INTO CTHD VALUES (1001, 'TV02', 10)
INSERT INTO CTHD VALUES (1001, 'ST01', 5)
INSERT INTO CTHD VALUES (1001, 'BC01', 5)
INSERT INTO CTHD VALUES (1001, 'BC02', 10)
INSERT INTO CTHD VALUES (1001, 'ST08', 10)
INSERT INTO CTHD VALUES (1002, 'BC04', 20)
INSERT INTO CTHD VALUES (1002, 'BB01', 20)
INSERT INTO CTHD VALUES (1002, 'BB02', 20)
INSERT INTO CTHD VALUES (1003, 'BB03', 10)
INSERT INTO CTHD VALUES (1004, 'TV01', 20)
INSERT INTO CTHD VALUES (1004, 'TV02', 10)
INSERT INTO CTHD VALUES (1004, 'TV03', 10)
INSERT INTO CTHD VALUES (1004, 'TV04', 10)
INSERT INTO CTHD VALUES (1005, 'TV05', 50)
INSERT INTO CTHD VALUES (1005, 'TV06', 50)
INSERT INTO CTHD VALUES (1006, 'TV07', 20)
INSERT INTO CTHD VALUES (1006, 'ST01', 30)
INSERT INTO CTHD VALUES (1006, 'ST02', 10)
INSERT INTO CTHD VALUES (1007, 'ST03', 10)
INSERT INTO CTHD VALUES (1008, 'ST04', 8)
INSERT INTO CTHD VALUES (1009, 'ST05', 10)
INSERT INTO CTHD VALUES (1010, 'TV07', 50)
INSERT INTO CTHD VALUES (1010, 'ST07', 50)
INSERT INTO CTHD VALUES (1010, 'ST08', 100)
INSERT INTO CTHD VALUES (1010, 'ST04', 50)
INSERT INTO CTHD VALUES (1010, 'TV03', 100)
INSERT INTO CTHD VALUES (1011, 'ST06', 50)
INSERT INTO CTHD VALUES (1012, 'ST07', 3)
INSERT INTO CTHD VALUES (1013, 'ST08', 5)
INSERT INTO CTHD VALUES (1014, 'BC02', 80)
INSERT INTO CTHD VALUES (1014, 'BB02', 100)
INSERT INTO CTHD VALUES (1014, 'BC04', 60)
INSERT INTO CTHD VALUES (1014, 'BB01', 50)
INSERT INTO CTHD VALUES (1015, 'BB02', 30)
INSERT INTO CTHD VALUES (1015, 'BB03', 7)
INSERT INTO CTHD VALUES (1016, 'TV01', 5)
INSERT INTO CTHD VALUES (1017, 'TV02', 1)
INSERT INTO CTHD VALUES (1017, 'TV03', 1)
INSERT INTO CTHD VALUES (1017, 'TV04', 5)
INSERT INTO CTHD VALUES (1018, 'ST04', 6)
INSERT INTO CTHD VALUES (1019, 'ST05', 1)
INSERT INTO CTHD VALUES (1019, 'ST06', 2)
INSERT INTO CTHD VALUES (1020, 'ST07', 10)
INSERT INTO CTHD VALUES (1021, 'ST08', 5)
INSERT INTO CTHD VALUES (1021, 'TV01', 7)
INSERT INTO CTHD VALUES (1021, 'TV02', 10)
INSERT INTO CTHD VALUES (1022, 'ST07', 1)
INSERT INTO CTHD VALUES (1023, 'ST04', 6)

In [ ]:
-- Cau 2: Thêm vào thuộc tính GHICHU có kiểu dữ liệu varchar(20) cho quan hệ SANPHAM.

ALTER TABLE SANPHAM ADD GHICHU VARCHAR(20)

In [ ]:
-- Cau 3: Thêm vào thuộc tính LOAIKH có kiểu dữ liệu là tinyint cho quan hệ KHACHHANG.

ALTER TABLE KHACHHANG ADD LOAIKH TINYINT

In [ ]:
-- Cau 4: Sửa kiểu dữ liệu của thuộc tính GHICHU trong quan hệ SANPHAM thành varchar(100).

ALTER TABLE SANPHAM ALTER COLUMN GHICHU VARCHAR(100)

In [ ]:
-- Cau 5: Xóa thuộc tính GHICHU trong quan hệ SANPHAM.

ALTER TABLE SANPHAM DROP COLUMN GHICHU

In [ ]:
-- Cau 6: Làm thế nào để thuộc tính LOAIKH trong quan hệ KHACHHANG có thể lưu các giá trị là: “Vang lai”, “Thuong xuyen”, “Vip”, ...

ALTER TABLE KHACHHANG ALTER COLUMN LOAIKH VARCHAR(20)

In [ ]:
-- Cau 7: Đơn vị tính của sản phẩm chỉ có thể là (“cay”,”hop”,”cai”,”quyen”,”chuc”)

ALTER TABLE SANPHAM ADD CONSTRAINT DVT CHECK (DVT IN ('cay', 'hop', 'cai', 'quyen', 'chuc'))

In [ ]:
-- Cau 8: Giá bán của sản phẩm từ 500 đồng trở lên.

ALTER TABLE SANPHAM ADD CONSTRAINT GIA CHECK (GIA >= 500)

In [ ]:
-- Cau 9: Mỗi lần mua hàng, khách hàng phải mua ít nhất 1 sản phẩm.

ALTER TABLE CTHD ADD CONSTRAINT SL CHECK (SL >= 1)

In [ ]:
-- Cau 10: Ngày khách hàng đăng ký là khách hàng thành viên phải lớn hơn ngày sinh của người đó.

ALTER TABLE KHACHHANG ADD CONSTRAINT NGDK CHECK (NGDK > NGSINH)

In [9]:
-- II. 2: Tạo quan hệ SANPHAM1 chứa toàn bộ dữ liệu của quan hệ SANPHAM. Tạo quan hệ KHACHHANG1 chứa toàn bộ dữ liệu của quan hệ KHACHHANG.

SELECT * INTO SANPHAM1 FROM SANPHAM
SELECT * INTO KHACHHANG1 FROM KHACHHANG

In [10]:
-- II. 3: Cập nhật giá tăng 5% đối với những sản phẩm do “Thai Lan” sản xuất (cho quan hệ SANPHAM1)
UPDATE SANPHAM1 SET GIA = GIA + GIA * 0.05 WHERE NUOCSX='Thai Lan'

In [25]:
-- II. 4: Cập nhật giá giảm 5% đối với những sản phẩm do “Trung Quoc” sản xuất có giá từ 10.000 trở xuống (cho quan hệ SANPHAM1).
UPDATE SANPHAM1 SET GIA = GIA - GIA * 0.05 WHERE NUOCSX='Trung Quoc' AND GIA < 10000

: Msg 156, Level 15, State 1, Line 2
Incorrect syntax near the keyword 'WHERE'.

In [14]:
-- II. 5: Cập nhật giá trị LOAIKH là “Vip” đối với những khách hàng đăng ký thành viên trước
-- ngày 1/1/2007 có doanh số từ 10.000.000 trở lên hoặc khách hàng đăng ký thành viên từ
-- 1/1/2007 trở về sau có doanh số từ 2.000.000 trở lên (cho quan hệ KHACHHANG1).

UPDATE KHACHHANG1 SET LOAIKH='Vip' WHERE (NGDK < '1/1/2007' AND DOANHSO >= 10000000) OR (NGDK >= '1/1/2007' AND DOANHSO >= 2000000)

In [16]:
-- III. 1: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất.

SELECT MASP, TENSP FROM SANPHAM1 WHERE NUOCSX='Trung Quoc'

MASP,TENSP
BB02,But bi
ST01,So tay 500 trang
ST10,But long
TV01,Tap 100 giay mong
TV02,Tap 200 giay mong
TV07,Tap 100 trang

In [4]:
-- III. 2: In ra danh sách các sản phẩm (MASP,TENSP) có mã sản phẩm bắt đầu là “B” và kết thúc là “01”.

SELECT MASP, TENSP FROM SANPHAM1 WHERE DVT='cay' OR DVT='quyen'

In [6]:
-- III. 3: In ra danh sách các sản phẩm (MASP,TENSP) có mã sản phẩm bắt đầu là “B” và kết thúc là “01”.

SELECT MASP, TENSP FROM SANPHAM1 WHERE MASP LIKE 'B%01'

: Msg 2714, Level 16, State 3, Procedure Cau3, Line 3
There is already an object named 'Cau3' in the database.

In [7]:
-- III. 4: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quốc” sản xuất có giá từ 30.000 đến 40.000.

SELECT MASP, TENSP FROM SANPHAM 
WHERE NUOCSX = 'Trung Quoc' AND GIA BETWEEN 30000 AND 40000;

MASP,TENSP,DVT,NUOCSX,GIA
ST01,So tay 500 trang,quyen,Trung Quoc,40000.00
TV07,Tap 100 trang,chuc,Trung Quoc,34000.00

In [9]:
-- III. 5: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” hoặc “Thai Lan” sản xuất có giá từ 30.000 đến 40.000.

SELECT MASP FROM SANPHAM 
WHERE (NUOCSX = 'Trung Quoc' OR NUOCSX = 'Thai Lan') AND GIA BETWEEN 30000 AND 40000;

MASP,TENSP,DVT,NUOCSX,GIA
ST01,So tay 500 trang,quyen,Trung Quoc,40000.00
TV07,Tap 100 trang,chuc,Trung Quoc,34000.00

In [14]:
-- III. 6: In ra các số hóa đơn, trị giá hóa đơn bán ra trong ngày 1/1/2007 và ngày 2/1/2007.

SET DATEFORMAT DMY

SELECT SOHD, TRIGIA FROM HOADON
WHERE NGHD IN ('1/1/2007', '2/1/2007')

SOHD,NGHD,MAKH,MANV,TRIGIA
1015,2007-01-01 00:00:00,KH06,NV01,910000.00
1016,2007-01-01 00:00:00,KH07,NV02,12500.00
1017,2007-01-02 00:00:00,KH08,NV03,35000.00

In [15]:
-- III. 7: In ra các số hóa đơn, trị giá hóa đơn trong tháng 1/2007, sắp xếp theo ngày (tăng dần) và trị giá của hóa đơn (giảm dần).

SELECT SOHD, TRIGIA FROM HOADON
WHERE MONTH(NGHD) = 1 AND YEAR(NGHD) = 2007
ORDER BY TRIGIA DESC

SOHD,NGHD,MAKH,MANV,TRIGIA
1015,2007-01-01 00:00:00,KH06,NV01,910000.00
1018,2007-01-13 00:00:00,KH08,NV03,330000.00
1023,2007-01-17 00:00:00,NULL,NV01,330000.00
1020,2007-01-14 00:00:00,KH09,NV04,70000.00
1021,2007-01-16 00:00:00,KH10,NV03,67500.00
1017,2007-01-02 00:00:00,KH08,NV03,35000.00
1019,2007-01-13 00:00:00,KH01,NV03,30000.00
1016,2007-01-01 00:00:00,KH07,NV02,12500.00
1022,2007-01-16 00:00:00,NULL,NV03,7000.00

In [18]:
-- III. 8: In ra danh sách các khách hàng (MAKH, HOTEN) đã mua hàng trong ngày 1/1/2007.

SET DATEFORMAT DMY

SELECT KHACHHANG.MAKH, KHACHHANG.HOTEN FROM KHACHHANG
INNER JOIN HOADON ON KHACHHANG.MAKH = HOADON.MAKH
WHERE HOADON.NGHD = '1/1/2007'

MAKH,HOTEN
KH06,Le Hoai Thuong
KH07,Nguyen Van Tam

In [21]:
-- III. 9: In ra số hóa đơn, trị giá các hóa đơn do nhân viên có tên “Nguyen Van B” lập trong ngày 28/10/2006.

SET DATEFORMAT DMY

SELECT HOADON.SOHD, HOADON.TRIGIA FROM HOADON
INNER JOIN NHANVIEN ON HOADON.MANV = NHANVIEN.MANV
WHERE NHANVIEN.HOTEN = 'Nguyen Van B' AND NGHD = '28/10/2006'

SOHD,TRIGIA
1007,510000.00
1008,440000.00

In [30]:
-- III. 10: In ra danh sách các sản phẩm (MASP,TENSP) được khách hàng có tên “Nguyen Van A” mua trong tháng 10/2006.

SELECT SANPHAM.MASP, SANPHAM.TENSP FROM SANPHAM
INNER JOIN CTHD ON SANPHAM.MASP = CTHD.MASP
INNER JOIN HOADON ON CTHD.SOHD = HOADON.SOHD
INNER JOIN KHACHHANG ON HOADON.MAKH = KHACHHANG.MAKH
WHERE KHACHHANG.HOTEN = 'Nguyen Van A' AND MONTH(HOADON.NGHD) = 10 AND YEAR(HOADON.NGHD) = 2006

MASP,TENSP
TV05,Tap 100 trang
TV06,Tap 200 trang
ST01,So tay 500 trang
ST02,So tay loai 1
TV07,Tap 100 trang
ST04,So tay

In [33]:
-- III. 11: Tìm các số hóa đơn đã mua sản phẩm có mã số “BB01” hoặc “BB02”.

SELECT SOHD FROM CTHD 
WHERE MASP IN ('BB01', 'BB02')

SOHD
1002
1002
1014
1014
1015

In [3]:
-- III. 12: Tìm các số hóa đơn đã mua sản phẩm có mã số “BB01” hoặc “BB02”, mỗi sản phẩm mua với số lượng từ 10 đến 20.

SELECT DISTINCT SOHD FROM CTHD 
WHERE MASP IN ('BB01', 'BB02') AND SL BETWEEN 10 AND 20

SOHD
1002

In [4]:
-- III. 13: Tìm các số hóa đơn mua cùng lúc 2 sản phẩm có mã số “BB01” và “BB02”, mỗi sản phẩm mua với số lượng từ 10 đến 20.

SELECT SOHD FROM CTHD 
WHERE MASP = 'BB01' AND SL BETWEEN 10 AND 20
INTERSECT
SELECT SOHD FROM CTHD 
WHERE MASP = 'BB02' AND SL BETWEEN 10 AND 20

SOHD
1002

In [2]:
-- III. 14: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất hoặc các sản phẩm được bán ra trong ngày 1/1/2007.

SET DATEFORMAT DMY

SELECT MASP, TENSP FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc'
UNION
SELECT SANPHAM.MASP, SANPHAM.TENSP FROM SANPHAM
INNER JOIN CTHD ON CTHD.MASP = SANPHAM.MASP
INNER JOIN HOADON ON CTHD.SOHD = HOADON.SOHD
WHERE HOADON.NGHD = '1/1/2007'

MASP,TENSP
BB02,But bi
BB03,But bi
ST01,So tay 500 trang
ST10,But long
TV01,Tap 100 giay mong
TV02,Tap 200 giay mong
TV07,Tap 100 trang

In [12]:
-- III. 15 : In ra danh sách các sản phẩm (MASP,TENSP) không bán được.

SELECT MASP, TENSP FROM SANPHAM
WHERE MASP IN (
    SELECT MASP FROM SANPHAM
    EXCEPT 
    SELECT MASP FROM CTHD
)

MASP,TENSP
BC03,But chi
ST09,But long
ST10,But long

In [15]:
-- III. 16: In ra danh sách các sản phẩm (MASP,TENSP) không bán được trong năm 2006.

SELECT MASP, TENSP FROM SANPHAM
WHERE MASP IN (
    SELECT MASP FROM SANPHAM
    EXCEPT 
    (
        SELECT MASP FROM CTHD 
        WHERE SOHD IN (
            SELECT SOHD FROM HOADON 
            WHERE YEAR(NGHD) = 2006
        ) 
    )
)

MASP,TENSP
BC03,But chi
ST09,But long
ST10,But long

In [16]:
-- III. 17: In ra danh sách các sản phẩm (MASP,TENSP) do “Trung Quoc” sản xuất không bán được trong năm 2006.

SELECT MASP, TENSP FROM SANPHAM
WHERE MASP IN (
    (
        SELECT MASP FROM SANPHAM
        WHERE NUOCSX = 'Trung Quoc'
    )
    EXCEPT 
    (
        SELECT MASP FROM CTHD 
        WHERE SOHD IN (
            SELECT SOHD FROM HOADON 
            WHERE YEAR(NGHD) = 2006
        ) 
    )
)

MASP,TENSP
ST10,But long

In [2]:
-- III. 18: Tìm số hóa đơn đã mua tất cả các sản phẩm do Singapore sản xuất.

SELECT HOADON.SOHD FROM HOADON
INNER JOIN CTHD ON HOADON.SOHD = CTHD.SOHD
INNER JOIN SANPHAM ON CTHD.MASP = SANPHAM.MASP
WHERE SANPHAM.NUOCSX = 'Singapore'
GROUP BY HOADON.SOHD
HAVING COUNT(DISTINCT SANPHAM.MASP) = (
    SELECT COUNT(DISTINCT MASP)
    FROM SANPHAM
    WHERE NUOCSX = 'Singapore'
)

SOHD
1001

In [5]:
-- III. 19: Tìm số hóa đơn trong năm 2006 đã mua ít nhất tất cả các sản phẩm do Singapore sản xuất.

SELECT HOADON.SOHD FROM HOADON
INNER JOIN CTHD ON HOADON.SOHD = CTHD.SOHD
INNER JOIN SANPHAM ON CTHD.MASP = SANPHAM.MASP
WHERE YEAR(HOADON.NGHD) = 2006 AND SANPHAM.NUOCSX = 'Singapore'
GROUP BY HOADON.SOHD
HAVING COUNT(DISTINCT SANPHAM.MASP) = (
    SELECT COUNT(DISTINCT MASP)
    FROM SANPHAM
    WHERE NUOCSX = 'Singapore'
)

SOHD
1001

In [10]:
-- III. 20: Có bao nhiêu hóa đơn không phải của khách hàng đăng ký thành viên mua?

SELECT COUNT(MAKH) AS SOHOADON FROM HOADON
WHERE NOT EXISTS (
    SELECT MAKH FROM KHACHHANG
    WHERE KHACHHANG.MAKH = HOADON.MAKH
)

SOHOADON
0

In [ ]:
-- III. 21: Có bao nhiêu sản phẩm khác nhau được bán ra trong năm 2006.

SELECT COUNT (DISTINCT CTHD.MASP) AS SoSanPham FROM CTHD
INNER JOIN HOADON ON CTHD.SOHD = HOADON.SOHD
WHERE YEAR(HOADON.NGHD) = 2006

In [12]:
-- III. 22: Cho biết trị giá hóa đơn cao nhất, thấp nhất là bao nhiêu ?

SELECT MAX(HOADON.TRIGIA), MIN(HOADON.TRIGIA) FROM HOADON

(No column name),(No column name)
5200000.00,5000.00

In [13]:
-- III. 23: Trị giá trung bình của tất cả các hóa đơn được bán ra trong năm 2006 là bao nhiêu?

SELECT AVG(TRIGIA) FROM HOADON
WHERE YEAR(NGHD) = 2006

(No column name)
1246142.8571

In [14]:
-- III. 24: Tính doanh thu bán hàng trong năm 2006.

SELECT SUM(TRIGIA) FROM HOADON
WHERE YEAR(NGHD) = 2006

(No column name)
17446000.00

In [15]:
-- III. 25: Tìm số hóa đơn có trị giá cao nhất trong năm 2006.

SELECT SOHD FROM HOADON
WHERE YEAR(NGHD) = 2006 AND HOADON.TRIGIA = (SELECT MAX(TRIGIA) FROM HOADON)

SOHD
1010

In [16]:
-- III. 26: Tìm họ tên khách hàng đã mua hóa đơn có trị giá cao nhất trong năm 2006.

SELECT KHACHHANG.HOTEN FROM KHACHHANG
INNER JOIN HOADON ON HOADON.MAKH = KHACHHANG.MAKH
WHERE TRIGIA = (SELECT MAX(TRIGIA) FROM HOADON WHERE YEAR(NGHD) = 2006)

HOTEN
Nguyen Van A

In [17]:
-- III. 27: In ra danh sách 3 khách hàng đầu tiên (MAKH, HOTEN) sắp xếp theo doanh số giảm dần.

SELECT TOP 3 MAKH, HOTEN FROM KHACHHANG ORDER BY DOANHSO DESC

MAKH,HOTEN
KH01,Nguyen Van A
KH03,Tran Ngoc Linh
KH06,Le Hoai Thuong

In [19]:
-- III. 28: In ra danh sách các sản phẩm (MASP, TENSP) có giá bán bằng 1 trong 3 mức giá cao nhất.

SELECT MASP, TENSP FROM SANPHAM
WHERE GIA IN (SELECT TOP 3 GIA FROM SANPHAM ORDER BY GIA DESC)

MASP,TENSP
BB03,But bi
ST02,So tay loai 1
ST04,So tay

In [20]:
-- III. 29: In ra danh sách các sản phẩm (MASP, TENSP) do “Thai Lan” sản xuất có giá bằng 1 trong 3 mức giá cao nhất (của tất cả các sản phẩm).

SELECT MASP, TENSP FROM SANPHAM 
WHERE GIA IN (SELECT TOP 3 GIA FROM SANPHAM ORDER BY GIA DESC) AND NUOCSX = 'Thai Lan'

MASP,TENSP
BB03,But bi
ST04,So tay

In [22]:
-- III. 30: In ra danh sách các sản phẩm (MASP, TENSP) do “Trung Quoc” sản xuất có giá bằng 1 trong 3 mức giá cao nhất (của sản phẩm do “Trung Quoc” sản xuất).

SELECT MASP, TENSP FROM SANPHAM 
WHERE GIA IN (SELECT TOP 3 GIA FROM SANPHAM WHERE NUOCSX = 'Trung Quoc' ORDER BY GIA DESC) AND NUOCSX = 'Trung Quoc'

MASP,TENSP
BB02,But bi
ST01,So tay 500 trang
ST10,But long
TV07,Tap 100 trang

In [23]:
-- III. 31: * In ra danh sách khách hàng nằm trong 3 hạng cao nhất (xếp hạng theo doanh số).

SELECT tOP 3 * FROM KHACHHANG ORDER BY DOANHSO DESC

MAKH,HOTEN,DCHI,SODT,NGSINH,DOANHSO,NGDK,LOAIKH
KH01,Nguyen Van A,"731 Tran Hung Dao, Q5, TpHCM",08823451,1960-10-22 00:00:00,13060000.00,2006-07-22 00:00:00,NULL
KH03,Tran Ngoc Linh,"45 Nguyen Canh Chan, Q1, TpHCM",0938776266,1980-06-12 00:00:00,3860000.00,2006-08-05 00:00:00,NULL
KH06,Le Hoai Thuong,"227 Nguyen Van Cu, Q5, TpHCM",08631738,1981-12-31 00:00:00,915000.00,2006-11-24 00:00:00,NULL

In [24]:
-- III. 32: Tính tổng số sản phẩm do “Trung Quoc” sản xuất.

SELECT COUNT(MASP) FROM SANPHAM
WHERE NUOCSX = 'Trung Quoc'

(No column name)
6

In [25]:
-- III. 33: Tính tổng số sản phẩm của từng nước sản xuất.

SELECT NUOCSX, COUNT(MASP) FROM SANPHAM GROUP BY NUOCSX

NUOCSX,(No column name)
Singapore,2
Thai Lan,3
Trung Quoc,6
Viet Nam,13

In [26]:
-- III. 34: Với từng nước sản xuất, tìm giá bán cao nhất, thấp nhất, trung bình của các sản phẩm.

SELECT NUOCSX, MAX(GIA), MIN(GIA), AVG(GIA) FROM SANPHAM GROUP BY NUOCSX

NUOCSX,(No column name),(No column name),(No column name)
Singapore,5000.00,3000.00,4000.00
Thai Lan,100000.00,20000.00,58333.3333
Trung Quoc,40000.00,2500.00,15833.3333
Viet Nam,55000.00,1000.00,19000.00

In [27]:
-- III. 35: Tính doanh thu bán hàng mỗi ngày.

SELECT NGHD, SUM(TRIGIA) FROM HOADON GROUP BY NGHD

NGHD,(No column name)
2006-07-23 00:00:00,320000.00
2006-08-12 00:00:00,840000.00
2006-08-23 00:00:00,100000.00
2006-09-01 00:00:00,180000.00
2006-10-16 00:00:00,2430000.00
2006-10-20 00:00:00,3800000.00
2006-10-28 00:00:00,1150000.00
2006-11-01 00:00:00,5200000.00
2006-11-04 00:00:00,250000.00
2006-11-30 00:00:00,21000.00
2006-12-12 00:00:00,5000.00
2006-12-31 00:00:00,3150000.00
2007-01-01 00:00:00,922500.00
2007-01-02 00:00:00,35000.00
2007-01-13 00:00:00,360000.00
2007-01-14 00:00:00,70000.00
2007-01-16 00:00:00,74500.00
2007-01-17 00:00:00,330000.00

In [28]:
-- III. 36: Tính tổng số lượng của từng sản phẩm bán ra trong tháng 10/2006.

SELECT MASP, SUM(SL) FROM CTHD
INNER JOIN HOADON ON CTHD.SOHD = HOADON.SOHD
WHERE MONTH(NGHD) = 10 AND YEAR(NGHD) = 2006
GROUP BY MASP

MASP,(No column name)
ST01,30
ST02,10
ST03,10
ST04,8
ST05,10
TV05,50
TV06,50
TV07,20

In [29]:
-- III. 37: Tính doanh thu bán hàng của từng tháng trong năm 2006.

SELECT DISTINCT MONTH(NGHD), SUM(TRIGIA) FROM HOADON 
WHERE YEAR(NGHD) = 2006 
GROUP BY MONTH(NGHD)

(No column name),(No column name)
7,320000.00
8,940000.00
9,180000.00
10,7380000.00
11,5471000.00
12,3155000.00

In [ ]:
-- III. 38: Tìm hóa đơn có mua ít nhất 4 sản phẩm khác nhau.

SELECT SOHD FROM CTHD
GROUP BY SOHD
HAVING COUNT(DISTINCT MASP) >= 4

In [30]:
-- III. 39: Tìm hóa đơn có mua 3 sản phẩm do “Viet Nam” sản xuất (3 sản phẩm khác nhau).

SELECT SOHD FROM CTHD
INNER JOIN SANPHAM ON SANPHAM.MASP = CTHD.MASP
WHERE NUOCSX = 'Viet Nam'
GROUP BY SOHD
HAVING COUNT(DISTINCT SANPHAM.MASP) = 3

SOHD
1010

In [70]:
-- III. 40: Tìm khách hàng (MAKH, HOTEN) có số lần mua hàng nhiều nhất.

SELECT TOP 1 MAKH, COUNT(SOHD) AS SL FROM HOADON
GROUP BY MAKH 
ORDER BY SL DESC

-- hoặc

SELECT MAKH, COUNT(SOHD) AS SL FROM HOADON
GROUP BY MAKH 
HAVING COUNT(SOHD) >= ALL(
    SELECT COUNT(SOHD) FROM HOADON
    GROUP BY MAKH  
)

MAKH,SL
KH01,7

MAKH,SL
KH01,7

In [37]:
-- III. 41: Tháng mấy trong năm 2006, doanh số bán hàng cao nhất ?

SELECT TOP 1 MONTH(NGHD), SUM(TRIGIA) AS DoanhThu FROM HOADON
WHERE YEAR(NGHD) = 2006
GROUP BY MONTH(NGHD) 
ORDER BY DoanhThu DESC

-- hoặc

SELECT MONTH(NGHD), SUM(TRIGIA) AS DoanhThu FROM HOADON
WHERE YEAR(NGHD) = 2006
GROUP BY MONTH(NGHD) 
HAVING SUM(TRIGIA) >= ALL(
    SELECT SUM(TRIGIA) FROM HOADON 
    GROUP BY MONTH(NGHD) 
)

(No column name),DoanhThu
10,7380000.00

(No column name),DoanhThu
10,7380000.00

In [42]:
-- III. 42: Tìm sản phẩm (MASP, TENSP) có tổng số lượng bán ra thấp nhất trong năm 2006.

SELECT MASP, SUM(SL) FROM CTHD
GROUP BY MASP
HAVING SUM(SL) <= ALL (
    SELECT SUM(CTHD.SL) FROM CTHD
    INNER JOIN SANPHAM ON SANPHAM.MASP = CTHD.MASP
    GROUP BY CTHD.MASP
)

MASP,(No column name)
BC01,5

In [50]:
-- III. 43: *Mỗi nước sản xuất, tìm sản phẩm (MASP, TENSP) có giá bán cao nhất.

SELECT NUOCSX, MASP, TENSP, GIA FROM SANPHAM AS SP
WHERE GIA = (
    SELECT MAX(GIA) FROM SANPHAM
    WHERE NUOCSX = SP.NUOCSX
    GROUP BY NUOCSX
)

NUOCSX,MASP,TENSP,GIA
Viet Nam,ST02,So tay loai 1,55000.00
Trung Quoc,ST01,So tay 500 trang,40000.00
Thai Lan,BB03,But bi,100000.00
Singapore,BC02,But chi,5000.00

In [57]:
-- III. 44: Tìm nước sản xuất sản xuất ít nhất 3 sản phẩm có giá bán khác nhau.

SELECT DISTINCT NUOCSX FROM SANPHAM
GROUP BY NUOCSX
HAVING COUNT(DISTINCT GIA) >= 3

NUOCSX
Thai Lan
Trung Quoc
Viet Nam

In [64]:
-- III. 45: *Trong 10 khách hàng có doanh số cao nhất, tìm khách hàng có số lần mua hàng nhiều nhất.


SELECT MAKH, COUNT(SOHD) FROM HOADON
WHERE MAKH IN (
    SELECT TOP 10 MAKH FROM KHACHHANG 
    ORDER BY DOANHSO DESC
)
GROUP BY MAKH
HAVING COUNT(SOHD) >= ALL(
    SELECT COUNT(SOHD) FROM HOADON
    WHERE MAKH IN (
        SELECT TOP 10 MAKH FROM KHACHHANG 
        ORDER BY DOANHSO DESC
    )
    GROUP BY MAKH
)

-- hoặc 

SELECT TOP 1 MAKH, COUNT(SOHD) AS SL FROM HOADON
WHERE MAKH IN (
    SELECT TOP 10 MAKH FROM KHACHHANG 
    ORDER BY DOANHSO DESC
)
GROUP BY MAKH
ORDER BY SL DESC

MAKH,(No column name)
KH01,7

MAKH,SL
KH01,7

In [6]:
-- I. 11: Ngày mua hàng (NGHD) của một khách hàng thành viên sẽ lớn hơn hoặc bằng ngày
-- khách hàng đó đăng ký thành viên (NGDK).

CREATE TRIGGER HD_CHECK_NGHD_NGDK ON HOADON 
AFTER INSERT, UPDATE AS 
BEGIN
    IF (EXISTS(
        SELECT * FROM inserted, KHACHHANG
        WHERE KHACHHANG.NGDK > inserted.NGHD AND inserted.MAKH = KHACHHANG.MAKH
    )) 
    BEGIN
        ROLLBACK TRANSACTION
        PRINT 'NGHD phai lon hon hoac bang NGDK'
    END
END
GO

CREATE TRIGGER KH_CHECK_NGHD_NGDK ON KHACHHANG 
AFTER UPDATE AS 
BEGIN
    IF (EXISTS(
        SELECT * FROM HOADON, inserted
        WHERE inserted.NGDK > HOADON.NGHD AND HOADON.MAKH = inserted.MAKH
    )) 
    BEGIN
        ROLLBACK TRANSACTION
        PRINT 'NGHD phai lon hon hoac bang NGDK'
    END
END
GO

In [8]:
-- I. 12: Ngày bán hàng (NGHD) của một nhân viên phải lớn hơn hoặc bằng ngày nhân viên đó
-- vào làm.

CREATE TRIGGER check_ngay_mua_lon_hon_ngay_vao_lam ON HOADON 
AFTER INSERT, UPDATE AS 
BEGIN
    IF (EXISTS(
        SELECT * FROM inserted
        INNER JOIN NHANVIEN ON inserted.MANV = NHANVIEN.MANV
        WHERE NHANVIEN.NGVL > inserted.NGHD
    )) 
    BEGIN
        ROLLBACK TRANSACTION
        PRINT 'NGHD phai lon hon hoac bang NGVL'
    END
END
GO

CREATE TRIGGER NV_NVL_NHD ON NHANVIEN
AFTER UPDATE AS
BEGIN
    IF (EXISTS(
        SELECT * FROM HOADON, inserted
        WHERE HOADON.MANV = inserted.MANV AND inserted.NGVL > HOADON.NGHD
    ))
    BEGIN
        ROLLBACK TRANSACTION
        PRINT 'NGHD phai lon hon hoac bang NGVL'
    END
END
GO

In [9]:
-- I. 13: Mỗi một hóa đơn phải có ít nhất một chi tiết hóa đơn.

CREATE TRIGGER CHECK_SL_CTHD ON CTHD
AFTER DELETE, UPDATE AS
BEGIN
    DECLARE @SL INT
    SELECT @SL = COUNT(*) FROM CTHD, deleted
    WHERE deleted.SOHD = CTHD.SOHD

    IF (@SL < 1)
    BEGIN
        PRINT 'Mỗi hóa đơn phải có ít nhất một chi tiết hóa đơn'
        ROLLBACK TRANSACTION
    END
END
GO

In [4]:
-- I. 14: Trị giá của một hóa đơn là tổng thành tiền (số lượng*đơn giá) của các chi tiết thuộc hóa
-- đơn đó.

CREATE TRIGGER INSERT_HD ON HOADON
AFTER INSERT AS
BEGIN
    DECLARE @SOHD INT 

    SELECT @SOHD = SOHD FROM inserted

	UPDATE HOADON SET TRIGIA = 0 
	WHERE SOHD = @SOHD
END
GO

CREATE TRIGGER UPDATE_HD ON HOADON
AFTER UPDATE AS
BEGIN
	UPDATE HOADON SET TRIGIA = (SELECT TRIGIA FROM deleted)
	WHERE SOHD = (SELECT SOHD FROM inserted)
END
GO

CREATE TRIGGER UPDATE_HD_CTHD ON CTHD 
AFTER INSERT AS
BEGIN
	DECLARE @SL INT
    DECLARE @GIA MONEY

	SELECT @GIA=GIA, @SL=SL FROM inserted, SANPHAM
	WHERE inserted.MASP = SANPHAM.MASP
	
    UPDATE HOADON
	SET TRIGIA = TRIGIA + @SL * @GIA
END
GO

In [ ]:
-- I. 15: Doanh số của một khách hàng là tổng trị giá các hóa đơn mà khách hàng thành viên đó đã mua.

CREATE TRIGGER UPDATE_DS ON KHACHHANG
AFTER UPDATE AS
BEGIN
	DECLARE @GT MONEY
    DECLARE @DS MONEY

	SELECT @GT = SUM(TRIGIA) FROM HOADON, inserted
	WHERE inserted.MAKH = HOADON.MAKH

	SELECT @DS = DOANHSO FROM inserted

	IF @DS <> @GT
	BEGIN
		PRINT 'Doanh số của một khách hàng là tổng trị giá các hóa đơn mà khách hàng thành viên đó đã mua.'
		ROLLBACK TRANSACTION
	END
END